extends ../layout
block content
    script.
        var uri_params=(!{JSON.stringify(uri_params)})
        var response=(!{JSON.stringify(response)})
        var translation=(!{JSON.stringify(lang[locale])})
    .main.container
        .row
            div#auth_form.formular.mini.auth
                header
                    div.logo.idkids
                    ul.brands
                        li.icon.okaidi
                        li.icon.obaibi
                        li.icon.jacadi
                        li.icon.rclv
                        li.icon.njoy
                        li.icon.bubble
                div#account_selection(class=typeof form === "undefined" ? "displayblock" : "displaynone")
                    h1 !{lang[locale].keys.account_picker_title}
                    ul.account_list.option_list
                        if(typeof user_session !== "undefined")
                            a(href="/account/account/" title="Accéder à mon compte")
                                li(data-userid=user_session._id)
                                    img.avatar(src=user_session.avatar)
                                    div.option_infos
                                        div.label= user_session.pseudo
                                        div.email= user_session.email
                                        div.status.success= lang[locale].keys.connected_status
                        if(typeof users_device !== "undefined")
                            each users in users_device
                                if(typeof user_session !== "undefined")
                                    if(users._id != user_session._id)
                                        a(href="/auth/login/email/"+users.email title="Me connecter entant que "+users.pseudo data-action="page_reload")
                                            li(data-userid=users._id)
                                                img.avatar(src=users.avatar)
                                                div.option_infos
                                                    div.label= users.pseudo
                                                    div.email= users.email
                                                    div.status= lang[locale].keys.not_connected_status
                                else
                                    a(href="/auth/login/email/"+users.email title="Me connecter entant que "+users.pseudo data-action="page_reload")
                                        li(data-userid=users._id)
                                            img.avatar(src=users.avatar)
                                            div.option_infos
                                                div.label= users.pseudo
                                                div.email= users.email
                                                div.status= lang[locale].keys.not_connected_status
                        a(href="/auth/subscribe/" title="Me connecter" data-action="page_reload")
                            li.other
                                img.avatar(src="/public/images/assets/account.svg")
                                div.option_infos
                                    div.label= lang[locale].keys.use_another_account
                                    div.email= lang[locale].keys.use_another_account_message
                div#account_forms.form_content(class=typeof form === "undefined" ? "displaynone" : "displayblock")
                    if(datas.message)
                        div.message= datas.message
                    ul.switch_tab
                        li.tab.selected(data-tab="login_form") !{lang[locale].keys.login_tab_1}
                        li.tab(data-tab="subscribe_form") !{lang[locale].keys.login_tab_2}
                    div.tab_group
                        form#login_form(method="get" action='/auth/login/')
                            div.form-group.material_input
                                input#email.form-control(type='email', placeholder=lang[locale].keys.email_holder, name='email', required="required", value=(typeof datas.email === "undefined" ? (typeof uri_params === "undefined" ? "" : (typeof uri_params.email === "undefined" ? "" : uri_params.email)) : datas.email), data-errormessage=lang[locale].keys.email_error)
                                label(for='email') !{lang[locale].keys.email_holder}
                            div.form-group.material_input
                                input#password.form-control(type='password', name='password', required="required", value=datas.password, minlength="8" data-regex="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$" data-errormessage=lang[locale].keys.password_error)
                                label(for='password')= lang[locale].keys.password_holder
                            div.input_check(data-checkinput="password")
                                div.check.check_length= lang[locale].keys.input_check_length
                                div.check.check_capital= lang[locale].keys.input_check_capital
                                div.check.check_number= lang[locale].keys.input_check_number
                            div.form-group
                                input#remember_me.form-control(type='checkbox', name='remember_me', checked="checked")
                                label(for="remember_me") !{lang[locale].keys.remember_me}
                            div.form-group
                                input#donot_register_device.form-control(type='checkbox', name='donot_register_device')
                                label(for="donot_register_device") !{lang[locale].keys.donot_register_device.toString()}
                            div.form-group
                                input.phantom_input.form-control(name="from" value=uri_params.from)
                                fieldset(name="device_infos")
                                    input.phantom_input.form-control(name="device_uid" value=uri_params.device_uid)
                                    input.phantom_input.form-control(name="appCodeName")
                                    input.phantom_input.form-control(name="appName")
                                    input.phantom_input.form-control(name="appVersion")
                                    input.phantom_input.form-control(name="userAgent")
                                    input.phantom_input.form-control(name="vendor")
                                
                            button.btn.btn-success.btn-m.btn-disabled(type='submit')= lang[locale].keys.login_cta
                        form#subscribe_form(method="post" action='/auth/login/')
                            div.form-group.material_input
                                input#pseudo.form-control(type='text', placeholder=lang[locale].keys.pseudo_holder, name='pseudo', required="required", value=datas.pseudo, minlength="4")
                                label(for='pseudo') !{lang[locale].keys.pseudo_holder}
                            div.form-group.material_input
                                input#subscribe_email.form-control(type='email', placeholder=lang[locale].keys.email_holder, name='subscribe_email', required="required", value=(typeof datas.email === "undefined" ? (typeof uri_params === "undefined" ? "" : (typeof uri_params.email === "undefined" ? "" : uri_params.email)) : datas.email), data-erromessage=lang[locale].keys.email_error)
                                label(for='subscribe_email') !{lang[locale].keys.email_holder}
                            div.form-group.material_input
                                input#subscribe_password.form-control(type='password', name='subscribe_password', required="required", value=datas.password, minlength="8" data-regex="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$" data-errormessage=lang[locale].keys.password_error)
                                label(for='subscribe_password')= lang[locale].keys.password_holder
                            div.input_check(data-checkinput="subscribe_password")
                                div.check.check_length= lang[locale].keys.input_check_length
                                div.check.check_capital= lang[locale].keys.input_check_capital
                                div.check.check_number= lang[locale].keys.input_check_number
                            div.form-group.material_input
                                input#retype_password.form-control(type='password', name='retype_password', required="required", value=datas.password, minlength="8" data-regex="same" data-target="subscribe_password" data-errormessage=lang[locale].keys.retype_password_error)
                                label(for='retype_password') !{lang[locale].keys.retype_password_holder}
                            hr
                            div.form-group
                                input#subscribe_term_accept.form-control(type='checkbox', name='subscribe_term_accept', checked='true', required="required")
                                label(for="subscribe_term_accept") !{lang[locale].keys.accept_terms}
                            div.form-group
                                input#subscribe_newsletter.form-control(type='checkbox', name='subscribe_newsletter')
                                label(for="subscribe_newsletter") !{lang[locale].keys.accept_newsletter}
                            div.form-group.checkbox_relative_container(data-checkboxrelative="subscribe_newsletter")
                                div.checkbox_relative
                                    p !{lang[locale].keys.accept_newsletter_partners}
                                    div.line
                                        input#newsletter_okaidi.form-control(type='checkbox', name='newsletter_okaidi', checked='true')
                                        label(for="newsletter_okaidi") !{lang[locale].keys.accept_newsletter_okaidi}
                                    div.line
                                        input#newsletter_obaibi.form-control(type='checkbox', name='newsletter_obaibi', checked='true')
                                        label(for="newsletter_obaibi") !{lang[locale].keys.accept_newsletter_obaibi}
                                    div.line
                                        input#newsletter_jacadi.form-control(type='checkbox', name='newsletter_jacadi', checked='true')
                                        label(for="newsletter_jacadi") !{lang[locale].keys.accept_newsletter_jacadi}
                                    div.line
                                        input#newsletter_oxybul.form-control(type='checkbox', name='newsletter_oxybul', checked='true')
                                        label(for="newsletter_oxybul") !{lang[locale].keys.accept_newsletter_oxybul}
                                    div.line
                                        input#newsletter_rclv.form-control(type='checkbox', name='newsletter_rclv', checked='true')
                                        label(for="newsletter_rclv") !{lang[locale].keys.accept_newsletter_rclv}
                                    div.line
                                        input#newsletter_njoy.form-control(type='checkbox', name='newsletter_njoy', checked='true')
                                        label(for="newsletter_njoy") !{lang[locale].keys.accept_newsletter_njoy}
                                    div.line
                                        input#newsletter_bubble.form-control(type='checkbox', name='newsletter_bubble', checked='true')
                                        label(for="newsletter_bubble") !{lang[locale].keys.accept_newsletter_bubble}
                                    div.line
                                        input#newsletter_joyvox.form-control(type='checkbox', name='newsletter_joyvox', checked='true')
                                        label(for="newsletter_joyvox") !{lang[locale].keys.accept_newsletter_joyvox}
                                    p !{lang[locale].keys.accept_newsletter_more_informations}
                            div.form-group
                                input#subscribe_remember_me.form-control(type='checkbox', name='subscribe_remember_me', checked="checked")
                                label(for="subscribe_remember_me") !{lang[locale].keys.remember_me}
                            div.form-group
                                input#do_not_register_device.form-control(type='checkbox', name='donot_register_device')
                                label(for="do_not_register_device") !{lang[locale].keys.donot_register_device}
                            div.form-group
                                input.phantom_input.form-control(name="from" value=uri_params.from)
                                fieldset(name="device_infos")
                                    input.phantom_input.form-control(name="device_uid" value=uri_params.device_uid)
                                    input.phantom_input.form-control(name="appCodeName")
                                    input.phantom_input.form-control(name="appName")
                                    input.phantom_input.form-control(name="appVersion")
                                    input.phantom_input.form-control(name="userAgent")
                                    input.phantom_input.form-control(name="vendor")
                                
                            button.btn.btn-success.btn-m.btn-disabled(type='submit')= lang[locale].keys.subscribe_cta
                        form#lost_form(method="post" action='/auth/lost_password/')
                            div.form-group.material_input
                                input#lost_email.form-control(type='email', placeholder=lang[locale].keys.email_holder, name='email', required="required", value=(typeof datas.email === "undefined" ? (typeof uri_params === "undefined" ? "" : (typeof uri_params.email === "undefined" ? "" : uri_params.email)) : datas.email), data-errormessage=lang[locale].keys.email_error)
                                label(for='lost_email') !{lang[locale].keys.email_holder}
                            div.form-group
                                input.phantom_input.form-control(name="from" value=uri_params.from)
                                fieldset(name="device_infos")
                                    input.phantom_input.form-control(name="device_uid" value=uri_params.device_uid)
                                    input.phantom_input.form-control(name="appCodeName")
                                    input.phantom_input.form-control(name="appName")
                                    input.phantom_input.form-control(name="appVersion")
                                    input.phantom_input.form-control(name="userAgent")
                                    input.phantom_input.form-control(name="vendor")
                                
                            button.btn.btn-success.btn-m.btn-disabled(type='submit')= lang[locale].keys.lost_password_cta
                    if(response.status === "error" && typeof response.message !== "undefined")
                        div.error= lang[locale].keys[response.message]
            include footer.pug
            