extends ../layout
block content
    script.
        var uri_params   = (!{JSON.stringify(uri_params)});
    script.
        var response     = (!{JSON.stringify(response)});
    script.
        var translation  = (!{JSON.stringify(lang[locale].keys)});
    script.
        if(typeof current_app !== "undefined" && current_app !== "undefined" && current_app !== null && current_app !== ""){
          var current_app  = "#{current_app}";
          var current_app  = (!{JSON.stringify(current_app)});
        }
    script.
        var referer  = "#{referer}";
    
    //-TODO FACEBOOK INTEGRATION
    //-script.
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '143900369638121',
            cookie     : true,
            xfbml      : true,
            version    : 'v2.12',
            "data":
            [
              {
                "permission":"public_profile",
                "status":"granted"
              },
              {
                "permission":"email",
                "status":"granted"
              }
            ]
          });
          FB.AppEvents.logPageView();
        };
        (function(d, s, id){
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement(s); js.id = id;
           js.src = "https://connect.facebook.net/en_US/sdk.js";
           fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));
    .main.container
        .row
            div#auth_form.formular.mini.auth
                header
                    div.logo.brand(href="/auth" data-action="page_reload") 
                    ul.brands
                      if(typeof app.locals.applications !== "undefined")
                        each apps in app.locals.applications
                          if(apps.is_widget)
                            li.icon(style="background-image:url("+apps.icon+")")
                div.app_infos
                    if current_app !== null && typeof current_app !== "undefined"
                      div.row(style="background-color:"+current_app.color+";")
                        img(src=current_app.icon, height="50")
                        //-img(src=current_app.logo, height="50")
                        div 
                          span Me connecter sur
                          br
                          span.label #{current_app.label}
                div#account_selection(class=typeof form === "undefined" ? "displayblock" : "displaynone")
                    h1 !{lang[locale].keys.account_picker_title}
                    ul.account_list.option_list
                        if(typeof user_session !== "undefined")
                            if current_app !== null && typeof current_app !== "undefined"
                              a(href=current_app.redirect_url+"?idkids-token="+user_session.token+"&idkids-id="+user_session._id+"&idkids-device=&idkids-secret="+user_session.secret, title="Accéder à l'application")
                                li(data-userid=user_session._id)
                                    img.avatar(src=user_session.avatar)
                                    div.option_infos
                                        div.label= user_session.pseudo
                                        div.email= user_session.email
                                        div.status.success= lang[locale].keys.connected_status
                            else if referer !== null && typeof referer !== "undefined"
                              a(href=referer title="Accéder à l'application")
                                li(data-userid=user_session._id)
                                    img.avatar(src=user_session.avatar)
                                    div.option_infos
                                        div.label= user_session.pseudo
                                        div.email= user_session.email
                                        div.status.success= lang[locale].keys.connected_status
                            else
                              a(href="/account/" title="Accéder à mon compte")
                                li(data-userid=user_session._id)
                                    img.avatar(src=user_session.avatar)
                                    div.option_infos
                                        div.label= user_session.pseudo
                                        div.email= user_session.email
                                        div.status.success= lang[locale].keys.connected_status
                        if(typeof users_device !== "undefined")
                            each users in users_device
                                if(typeof user_session !== "undefined")
                                    if(users._id != user_session._id)
                                        a(href="/auth/login/email/"+users.email title="Me connecter entant que "+users.pseudo data-action="page_reload")
                                            li(data-userid=users._id)
                                                img.avatar(src=users.avatar)
                                                div.option_infos
                                                    div.label= users.pseudo
                                                    div.email= users.email
                                                    div.status= lang[locale].keys.not_connected_status
                                else
                                    a(href="/auth/login/email/"+users.email title="Me connecter entant que "+users.pseudo data-action="page_reload")
                                        li(data-userid=users._id)
                                            img.avatar(src=users.avatar)
                                            div.option_infos
                                                div.label= users.pseudo
                                                div.email= users.email
                                                div.status= lang[locale].keys.not_connected_status
                        a(href="/auth/login/" title="Me connecter" data-action="page_reload")
                            li.other
                                img.avatar(src="/public/images/assets/account.svg")
                                div.option_infos
                                    div.label= lang[locale].keys.use_another_account
                                    div.email= lang[locale].keys.use_another_account_message
                div#account_forms.form_content(class=typeof form === "undefined" ? "displaynone" : "displayblock")
                    if(datas.message)
                        div.message= datas.message
                    ul.switch_tab
                        li.tab(data-tab="login_form" class=(form === "login")? "selected" : "") !{lang[locale].keys.login_tab_1}
                        li.tab(data-tab="subscribe_form" class=(form === "subscribe")? "selected" : "") !{lang[locale].keys.login_tab_2}
                    //-hr
                    //-h3 Connectez-vous avec <b>Facebook</b> :
                    //-ul.social_login.social_buttons
                    //-  li#facebook_login.facebook
                    //-    span.icon-facebook
                    //-    div Facebook
                    //-h3 Utilisez votre <b>email</b> :
                    hr
                    div.tab_group
                        form#login_form(method="post" action='/auth/login/' style='display:"'+((form === "login")? "block" : "none")+'"')
                            div.form-group.material_input
                                input#email.form-control(type='email', placeholder=lang[locale].keys.email_holder, name='email', required="required", value=(typeof datas.email === "undefined" ? (typeof uri_params === "undefined" ? "" : (typeof uri_params.email === "undefined" ? "" : uri_params.email)) : datas.email), data-errormessage=lang[locale].keys.email_error)
                                label(for='email') !{lang[locale].keys.email_holder}
                            div.form-group.material_input
                                input#password.form-control(type='password', name='password', required="required", value=datas.password, minlength="6" data-regex="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{6,}$" data-errormessage=lang[locale].keys.password_error)
                                label(for='password')= lang[locale].keys.password_holder
                            div.input_check(data-checkinput="password")
                                div.check.check_length= lang[locale].keys.input_check_length
                                div.check.check_capital= lang[locale].keys.input_check_capital
                                div.check.check_number= lang[locale].keys.input_check_number
                            //- UNCHECK IF REMEMBER ME IS CODED IN API
                            //-div.form-group
                            //-    input#remember_me.form-control(type='checkbox', name='remember_me', checked="checked")
                            //-    label(for="remember_me") !{lang[locale].keys.remember_me}
                            //-div.form-group
                            //-    input#donot_register_device.form-control(type='checkbox', name='donot_register_device')
                            //-    label(for="donot_register_device") !{lang[locale].keys.donot_register_device.toString()}
                            div.form-group
                                input.phantom_input.form-control(name="from" value=uri_params.from)
                                fieldset(name="device_infos")
                                    input.phantom_input.form-control(name="device_uid" value=uri_params.device_uid)
                                    input.phantom_input.form-control(name="appCodeName")
                                    input.phantom_input.form-control(name="appName")
                                    input.phantom_input.form-control(name="appVersion")
                                    input.phantom_input.form-control(name="userAgent")
                                    input.phantom_input.form-control(name="vendor")
                                if current_app !== null && typeof current_app !== "undefined"
                                  input.phantom_input.form-control(name="app_id" value=current_app._id)
                                if referer !== null && typeof referer !== "undefined"
                                  input.phantom_input.form-control(name="referer" value=referer)
                                    
                            button.btn.btn-success.btn-m.btn-disabled(type='submit', data-formaction='submit', data-formid="login_form")= lang[locale].keys.login_cta
                            a.hyperlink(href="/auth/lost" data-action="page_reload") Mot de passe perdu ?
                        form#subscribe_form(method="post" action='/auth/subscribe/' style='display:"'+((form === "subscribe")? "block" : "none")+'"')
                            div.form-group.material_input
                                input#pseudo.form-control(type='text', placeholder=lang[locale].keys.pseudo_holder, name='pseudo', required="required", value=datas.pseudo, minlength="4")
                                label(for='pseudo') !{lang[locale].keys.pseudo_holder}
                            div.form-group.material_input
                                input#subscribe_email.form-control(type='email', placeholder=lang[locale].keys.email_holder, name='subscribe_email', required="required", value=(typeof datas.email === "undefined" ? (typeof uri_params === "undefined" ? "" : (typeof uri_params.email === "undefined" ? "" : uri_params.email)) : datas.email), data-erromessage=lang[locale].keys.email_error)
                                label(for='subscribe_email') !{lang[locale].keys.email_holder}
                            div.form-group.material_input
                                input#subscribe_password.form-control(type='password', name='subscribe_password', required="required", value=datas.password, minlength="6", data-regex="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{6,}$", data-errormessage=lang[locale].keys.password_error)
                                label(for='subscribe_password')= lang[locale].keys.password_holder
                            div.input_check(data-checkinput="subscribe_password")
                                div.check.check_length= lang[locale].keys.input_check_length
                                div.check.check_capital= lang[locale].keys.input_check_capital
                                div.check.check_number= lang[locale].keys.input_check_number
                            div.form-group.material_input
                                input#retype_password.form-control(type='password', name='retype_password', required="required", minlength="6", data-regex="same", data-target="subscribe_password", data-errormessage=lang[locale].keys.retype_password_error)
                                label(for='retype_password') !{lang[locale].keys.retype_password_holder}
                            hr
                            div.form-group
                                input#subscribe_term_accept.form-control(type='checkbox', name='subscribe_term_accept', required="required")
                                label(for="subscribe_term_accept") !{lang[locale].keys.accept_terms}
                            div.form-group
                                input#subscribe_newsletter.form-control(type='checkbox', name='subscribe_newsletter')
                                label(for="subscribe_newsletter") !{lang[locale].keys.accept_newsletter}
                            div.form-group.checkbox_relative_container(data-checkboxrelative="subscribe_newsletter")
                                div.checkbox_relative
                                    p !{lang[locale].keys.accept_newsletter_partners}
                                    each apps in app.locals.applications
                                      if(apps.has_newsletter)
                                        div.line
                                            input.form-control(id="newsletter_"+apps.short_name, type='checkbox', name='newsletter_'+apps.short_name, checked='true')
                                            label(for="newsletter_"+apps.short_name)= apps.name+" "+apps.description
                                    p !{lang[locale].keys.accept_newsletter_more_informations}
                            //-div.form-group
                            //-    input#subscribe_remember_me.form-control(type='checkbox', name='subscribe_remember_me', checked="checked")
                            //-    label(for="subscribe_remember_me") !{lang[locale].keys.remember_me}
                            //-div.form-group
                            //-    input#do_not_register_device.form-control(type='checkbox', name='donot_register_device')
                            //-    label(for="do_not_register_device") !{lang[locale].keys.donot_register_device}
                            div.form-group
                                input.phantom_input.form-control(name="from" value=uri_params.from)
                                fieldset(name="device_infos")
                                    input.phantom_input.form-control(name="device_uid" value=uri_params.device_uid)
                                    input.phantom_input.form-control(name="appCodeName")
                                    input.phantom_input.form-control(name="appName")
                                    input.phantom_input.form-control(name="appVersion")
                                    input.phantom_input.form-control(name="userAgent")
                                    input.phantom_input.form-control(name="vendor")
                                if current_app !== null && typeof current_app !== "undefined"
                                  input.phantom_input.form-control(name="app_id" value=current_app._id)
                                if referer !== null && typeof referer !== "undefined" && referer !=="undefined"
                                  input.phantom_input.form-control(name="referer" value=referer)
                                
                            button.btn.btn-success.btn-m.btn-disabled(type='submit', data-formaction='submit', data-formid="subscribe_form")= lang[locale].keys.subscribe_cta
                        form#lost_form(method="post" action='/auth/lost_password/' style='display:"'+((form === "lost")? "block" : "none")+'"')
                            div.form-group.material_input
                                input#lost_email.form-control(type='email', placeholder=lang[locale].keys.email_holder, name='email', required="required", value=(typeof datas.email === "undefined" ? (typeof uri_params === "undefined" ? "" : (typeof uri_params.email === "undefined" ? "" : uri_params.email)) : datas.email), data-errormessage=lang[locale].keys.email_error)
                                label(for='lost_email') !{lang[locale].keys.email_holder}
                            div.form-group
                                input.phantom_input.form-control(name="from" value=uri_params.from)
                                fieldset(name="device_infos")
                                    input.phantom_input.form-control(name="device_uid" value=uri_params.device_uid)
                                    input.phantom_input.form-control(name="appCodeName")
                                    input.phantom_input.form-control(name="appName")
                                    input.phantom_input.form-control(name="appVersion")
                                    input.phantom_input.form-control(name="userAgent")
                                    input.phantom_input.form-control(name="vendor")
                                if current_app !== null && typeof current_app !== "undefined"
                                  input.phantom_input.form-control(name="app_id" value=current_app._id)
                                if referer !== null && typeof referer !== "undefined" && referer !=="undefined"
                                  input.phantom_input.form-control(name="referer" value=referer)
                                
                            button.btn.btn-success.btn-m.btn-disabled(type="submit", data-action='receive_password')= lang[locale].keys.lost_password_cta
                    if(response.status === "error" && typeof response.message !== "undefined")
                        div.error= lang[locale].keys[response.message]
            include footer.pug
            
