extends ../layout
block content
  script.
    var translation  = (!{JSON.stringify(lang[locale].keys)});
  .main.container
      .row
          div#auth_form.formular.mini.auth
              header
                div.logo.brand(href="/auth" data-action="page_reload") 
                ul.brands
                  if(typeof app.locals.applications !== "undefined")
                    each apps in app.locals.applications
                      if(apps.is_widget)
                        li.icon(style="background-image:url("+apps.icon+")")
              div.form_content#update_password
                form(method="POST" action='/auth/update_password/')
                  div.form-group
                    h3 Changer mon mot de passe
                  div.form-group
                    p Pour modifier votre mot de passe, veuillez remplir le formulaire ci-dessous
                  input.invisible#validation_code(type="text" name="validation_code" value=validation_code)
                  div.form-group.material_input
                    input#email.form-control(type='email', placeholder=lang[locale].keys.email_holder, name='email', required="required", value=(typeof email === "undefined" ? (typeof uri_params === "undefined" ? "" : (typeof uri_params.email === "undefined" ? "" : uri_params.email)) : email), data-errormessage=lang[locale].keys.email_error)
                    label(for='email') !{lang[locale].keys.email_holder}            
                  div.form-group.material_input
                    input#password.form-control(type='password', placeholder=lang[locale].keys.password_holder, name='password', required="required", minlength="6", data-regex="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{6,}$", data-errormessage=lang[locale].keys.password_error)
                    label(for='password') !{lang[locale].keys.password_holder}
                  div.input_check(data-checkinput="password")
                      div.check.check_length= lang[locale].keys.input_check_length
                      div.check.check_capital= lang[locale].keys.input_check_capital
                      div.check.check_number= lang[locale].keys.input_check_number            
                  div.form-group.material_input
                    input#retype_password.form-control(type='password', placeholder=lang[locale].keys.password_holder, name='retype_password', required="required", minlength="6" data-regex="same" data-target="password" data-errormessage=lang[locale].keys.retype_password_error)
                    label(for='retype_password') !{lang[locale].keys.retype_password_holder}      
                  hr      
                  button.btn.btn-success.btn-m(type="submit", data-action="submit_form") Mettre à jour mon mot de passe
              div.form_content#update_password_success(style="display:none;")
                h3 Votre mot de passe a bien été mis à jour !
                p vous allez être redirigé vers le formulaire de connexion.
