if(typeof query.user === "undefined" || query.user === null || query.user === "")
  div#account_infos
    div.avatar.sm
      img(src=app.locals.settings.host+"/public/images/assets/account.svg")
  div.subnav.account
      div.account_infos
          div.avatar
              img(src=app.locals.settings.host+"/public/images/assets/account.svg")
          div.infos
              div.label= "Mon Compte"
              //-div.email= "Mon Compte"
              a(href=app.locals.settings.host+"/auth"+((typeof query.options.secret !== "undefined" && query.options.secret !== "")? "?secret="+query.options.secret : "") id="idkids_sdk_login_button" target="_self").btn.btn-success Me connecter
      div.other_accounts
      div.options
          a.btn.btn-default.btn-sm(href=app.locals.settings.host+"/auth?"+((typeof query.options.secret !== "undefined" && query.options.secret !== "")? "?secret="+query.options.secret : "")  target="_self") Ajouter un compte
          a.btn.btn-default.btn-sm.btn-warning(href=app.locals.settings.host+"/auth"+((typeof query.options.secret !== "undefined" && query.options.secret !== "")? "?secret="+query.options.secret : "")  target="_self") Créer un compte
else
  div#account_infos
      div.avatar.sm
        img(src=((user[0].avatar !== "" && typeof user[0].avatar !== "undefined")? (user[0].avatar.indexOf('http') === -1)? app.locals.settings.host+user[0].avatar : user[0].avatar.replace('http://', 'https://') : app.locals.settings.host+"/public/images/assets/account.svg") alt="avatar")
  div.subnav.account
      div.account_infos
          div.avatar
              img(src=((user[0].avatar !== "" && typeof user[0].avatar !== "undefined")? (user[0].avatar.indexOf('http') === -1)? app.locals.settings.host+user[0].avatar: user[0].avatar.replace('http://', 'https://') : app.locals.settings.host+"/public/images/assets/account.svg"))
          div.infos
              div.label= user[0].pseudo
              //-div.email= query.user.email
              a(href=app.locals.settings.host+"/account/account" target=((typeof query.options.secret !== "undefined" && query.options.secret !== "")? "_blank" : "_self")).btn.btn-success Mon compte
      div.other_accounts
      div.options
          a.btn.btn-default.btn-sm(href=app.locals.settings.host+"/auth"+((typeof query.options.secret !== "undefined" && query.options.secret !== "")? "?secret="+query.options.secret : "") target="_self") Ajouter un compte
          a.btn.btn-default.btn-sm.btn-danger(href=app.locals.settings.host+"/auth/logout"+((typeof query.options.secret !== "undefined" && query.options.secret !== "")? "?secret="+query.options.secret : "") target="_self") Déconnexion
  
      
