block member_edit
    div#member_edit_form.formular(data-memberid=query.member_id)
        if(member)
          form(method="PUT" action='/me/members/')
              div.form_group
                  input#kid_avatar_cropper.image_cropper.invisible(type="file" data-width="256" data-height="256" data-target="kid_avatar" name="kid_avatar_cropper")
                  label(for="kid_avatar_cropper") Avatar 256*256px
                  br
                  img#kid_avatar_cropper_preview.preview.cropper_preview(width="80" height="80" data-for="child_avatar_cropper" src=member.avatar  onerror="this.src='/images/assets/account.svg'")
                  input#kid_avatar.invisible(type="text" name="avatar" value=member.avatar)
              
              //div.form-group
              //    input#child_avatar_file(type="file" name="child_avatar_file" accept="image/*" data-file="avatar")
              //    label.avatar(for="child_avatar_file")
              //        img(src=member.avatar+"" onerror="this.src='/images/assets/account.svg'")
              //    input#child_avatar.invisible(type="text" name="avatar")
              
              
              hr.separator
              div.form-group.material_input
                  input#first_name(type="text" name="first_name" minlength="4" value=member.first_name)
                  label(for="first_name") child_first_name
              div.form-group.material_input
                  input#birth_date(type="date" name="birth_date" value=member.birth_date)
                  label(for="birth_date") birth_date
              hr.separator
              div.form_group.radio_list
                  input#child_male(type="radio" name="gender" value="male" required='required', checked=member.gender=="male")
                  label(for='child_male') garçon
                  input#child_female(type="radio" name="gender" value="female", checked=member.gender=="female")
                  label(for='child_female') fille
              div.form-group.buttons.inline
                  div#submit_member.btn.btn-success.btn-sm(data-action="save" data-memberid=query.member_id) Enregistrer
                  div#cancel_member.btn.btn-warning.btn-sm(data-action="cancel" data-memberid=query.member_id) Annuler
              div.form-group
                  a(href="/account/member/"+query.member_id title="édition avancée").hyperlink Édition avancée
