doctype html
html
  head
    title= title
    meta(name='viewport' content ='width=device-width, initial-scale=1, user-scalable=no')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content ='IE=edge')
    link(rel='stylesheet', href='/stylesheets/style.min.css')
    link(rel='stylesheet', href='/public/fonts/dist/idkids-icons.min.css')
    link(rel='stylesheet', href='/public/stylesheets/idkids-sdk/idkids-sdk.min.css')
    script(src="/public/javascripts/function_helper.min.js")
    if(css)
        each val in css
            link(rel='stylesheet', href=val)
  body
    header.header.idkids_jssdk
        div
            a(href="/" title="Accueil")
                div.logo.brand
        nav.short_cuts
            ul
                include ../widgets.pug
                include ../notifs.pug
                li#account_taskbar
                    div#account_infos
                        if(user.avatar)
                            div.avatar.sm
                                img(src=user.avatar)
                        else
                            div.icon.icon-account_1.idkids-icons.lg
                    div.subnav.account
                        div.account_infos
                            div.avatar
                                img(src=user.avatar)
                            div.infos
                                div.label= user.pseudo
                                div.email= user.email
                                a(href="/account/account").btn.btn-success= app.locals.auth_lang[locale].keys['account_widget_account']
                        div.other_accounts
                        div.options
                            a.btn.btn-default.btn-sm(href="/auth")= app.locals.auth_lang[locale].keys['account_widget_add_account']
                            a.btn.btn-default.btn-sm(href="/auth/logout")= app.locals.auth_lang[locale].keys['account_widget_logout']
        include admin_nav.pug
    div.admin_content
        block content
    include ../footer.pug
            
