extends admin_header
block content
    div.admin
        div.shutter
            a.shutter_action(href="/admin/apps/new_app" title="ajouter une application")
                span.icon.icon-more.idkids-icons
                div.label= app.locals.admin_lang[locale].keys['APPS_NEW_BUTTON']
            h3= app.locals.admin_lang[locale].keys['APPS_LEFT_PANEL']
            ul.app_list.order_left_panel_list
                each apps in applications
                    a(href="/admin/apps/edit_app/"+apps._id+"/" title="éditer l'application")
                        li(data-id=apps._id)
                            span.icon(style= "background-image:url("+apps.icon+")")
                            div.label= apps.short_name
        div#apps.container(style= page === "apps" ? "display:block" : "display:none")
            div.col.col-md-6
                h1= app.locals.admin_lang[locale].keys['APPS_TITLE']
                p= app.locals.admin_lang[locale].keys['APPS_MESSAGE']
        div#new_app.container(style= page === "new_app" ? "display:block" : "display:none")
            div.col.col-md-6
                div.formular.fullscreen#create_app
                    h1= app.locals.admin_lang[locale].keys['APPS_CREATE_TITLE']
                    br
                    form.form_content(method="POST" action='/api/apps')
                        div
                            input#icon_cropper.image_cropper.invisible(type="file" data-width="512" data-height="512" data-target="icon" name="icon_cropper")
                            label(for="icon_cropper") Icon 512*512px
                            br
                            img#icon_cropper_preview.preview.cropper_preview(width="150" height="150" data-for="icon")
                            input#icon.invisible(type="text" name="icon")
                        hr.separator
                        div
                            input#logo_cropper.image_cropper.invisible(type="file" data-width="512" data-height="205" data-target="logo" name="logo_cropper")
                            label(for="logo_cropper") Logo 512*205px
                            br
                            img#logo_cropper_preview.cropper_preview(width="230" height="90" data-for="logo")
                            input#logo.invisible(type="text" name="logo")
                        hr.separator
                        div
                            label(for="color") Color
                            br
                            input#color(type="color" name="color")
                        div.form-group.material_input.minlength
                            input#label(type="text" name="label" minlength="4" required)
                            label(for="label") Label
                        div.form-group.material_input.minlength
                            input#name(type="text" name="name" minlength="4" required)
                            label(for="name") Name
                        div.form-group.material_input.minlength
                            input#short_name(type="text" name="short_name" minlength="4" required)
                            label(for="short_name") Short Name (without spaces and special characters)
                        div.form-group.material_input.minlength
                            input#host(type="text" name="host" minlength="4" required)
                            label(for="host") host ex : http://account.idkids-app.com
                        div.form-group.material_input.minlength
                            input#redirect_url(type="text" name="redirect_url" minlength="4" required)
                            label(for="redirect_url") host ex : http://account.idkids-app.com/redirect
                        div.form-group
                            a.hyperlink(href="#") En savoir plus sur l'url de redirection
                        div.form-group.material_input.minlength
                            textarea#description(type="text" minlength="50" maxlength="250" name="description" required)
                            label(for="description") description
                        div.form-group.material_input.minlength
                            input#short_desc(type="text" minlength="10" maxlength="50" name="short_desc" required)
                            label(for="short_desc") short description
                        div.form-group.material_input.minlength
                            input#bundle(type="text" minlength="20" maxlength="50" name="bundle" required)
                            label(for="bundle") bundle ex : account.idkids.fr
                        div.form-group.material_input.minlength
                            input#terms_url(type="text" minlength="20" maxlength="50" name="terms_url" required)
                            label(for="terms_url") special terms url with http://
                        div.form-group
                            div.btn.btn-success.btn-lg(data-action="submit")= app.locals.admin_lang[locale].keys['APPS_CREATE_CTA']
        div.container(style= page === "edit_app" ? "display:block" : "display:none")
            div.col.col-md-6
                div.formular.fullscreen#edit_app
                    h1= app.locals.admin_lang[locale].keys['APPS_EDIT_TITLE']
                    br
                    if(typeof edit_application !== "undefined")
                        form.form_content(method="PUT" action='/api/apps' data-id=edit_application._id)
                            input#_id.invisible(type="text" name="_id" value=edit_application._id)
                            div
                                input#edit_icon_cropper.image_cropper.invisible(type="file" data-width="512" data-height="512" data-target="icon" name="edit_icon_cropper")
                                label(for="edit_icon_cropper") Icon 512*512px
                                br
                                img#edit_icon_cropper_preview.preview.cropper_preview(width="150" height="150" data-for="icon" src=edit_application.icon)
                                input#icon.invisible(type="text" name="icon" value=edit_application.icon)
                            hr.separator
                            div
                                input#edit_logo_cropper.image_cropper.invisible(type="file" data-width="512" data-height="205" data-target="logo" name="edit_logo_cropper")
                                label(for="edit_logo_cropper") Logo 512*205px
                                br
                                img#edit_logo_cropper_preview.cropper_preview(width="230" height="90" data-for="logo" src=edit_application.logo)
                                input#logo.invisible(type="text" name="logo" value=edit_application.logo)
                            hr.separator
                            div
                                label(for="color") Color
                                br
                                input#color(type="color" name="color" value=edit_application.color)
                            div.form-group.material_input.minlength
                                input#label(type="text" name="label" minlength="4" value=edit_application.name required)
                                label(for="label") Name
                            div.form-group.material_input.minlength
                                input#short_name(type="text" name="short_name" minlength="4" value=edit_application.short_name required)
                                label(for="short_name") Short Name (without spaces and special characters)
                            div.form-group.material_input.minlength
                                input#host(type="text" name="host" minlength="4" value=edit_application.host required)
                                label(for="host") host ex : http://account.idkids-app.com
                            div.form-group.material_input.minlength
                                input#redirect_url(type="text" name="redirect_url" minlength="4" value=edit_application.redirect_url required)
                                label(for="redirect_url") host ex : http://account.idkids-app.com/redirect
                            div.form-group
                                a.hyperlink(href="#") En savoir plus sur l'url de redirection
                            div.form-group.material_input.minlength
                                textarea#description(type="text" minlength="50" maxlength="250" name="description" required)= edit_application.description
                                label(for="description") description
                            div.form-group.material_input.minlength
                                input#short_desc(type="text" minlength="10" maxlength="50" value=edit_application.short_desc name="short_desc" required)
                                label(for="short_desc") short description
                            div.form-group.material_input
                                input#bundle(type="text" value=edit_application.bundle name="bundle" required)
                                label(for="bundle") bundle ex : account.idkids.fr
                            div.form-group.material_input.minlength
                                input#terms_url(type="text" minlength="5" value=edit_application.terms_url name="terms_url" required)
                                label(for="terms_url") special terms url with http://
                            hr.separator
                              
                            h3 Créer un Widget pour cette application
                            p les widgets apparaîssent dans le footer ainsi que dans le menu widget su SDK. Ne cocher que lorsque l'application doit être mise en avant par idkids-app, principalement dédié aux marques et services.
                            div.form-group
                                input#is_widget(type="checkbox" value=edit_application.is_widget name="is_widget" checked=((edit_application.is_widget)? true : false))
                                label(for="is_widget") Afficher entant que Widget
                            hr.separator
                              
                            h3 Activer la demande de Newsletter
                            p Cocher la box ci-dessous pour proposer aux membres de recevoir des newsletter de la part de l'application.
                            div.form-group
                                input#has_newsletter(type="checkbox" value=edit_application.has_newsletter name="has_newsletter" checked=((edit_application.has_newsletter)? true : false))
                                label(for="has_newsletter") Demander l'autorisation d'envoyer des newsletter
                            hr.separator
                              
                            h3 Activer la demande de Sms
                            p Cocher la box ci-dessous pour proposer aux membres de recevoir des sms de la part de l'application.
                            div.form-group
                                input#has_sms(type="checkbox" value=edit_application.has_sms name="has_sms" checked=((edit_application.has_sms)? true : false))
                                label(for="has_sms") Demander l'autorisation d'envoyer des sms
                            hr.separator
                              
                            h3 Activer la demande de Notifications
                            p Cocher la box ci-dessous pour proposer aux membres de recevoir des notifications de la part de l'application.
                            div.form-group
                                input#has_notifications(type="checkbox" value=edit_application.has_notifications name="has_notifications" checked=((edit_application.has_notifications)? true : false))
                                label(for="has_notifications") Demander l'autorisation d'envoyer des notifications
                            hr.separator
                              
                            div.form-group.array_list_inputs(data-name="aliases")
                                h3 Ajouter des alias au domaine de l'application
                                p Si votre domaine est accessible avec ou sans les www en https ou sans certificat SSL ou encore si vous utilisez le SDK sur différents sous-domaines, veuillez renseigner les possibilités ci-dessous.
                                ul.array_list_menu
                                    li.add_input_array_button= app.locals.admin_lang[locale].keys['ADD_CTA']
                                ul.array_list_inputs
                                    if(typeof edit_application.aliases !== "undefined")
                                        each alias in _.keys(edit_application.aliases)
                                            li.form-group.material_input.minlength
                                                input(type="text" minlength="5" name=alias value=edit_application.aliases[alias])
                                                label Entrez l'url de l'alias
                                                div.delete_input_array_button= app.locals.admin_lang[locale].keys['DELETE_CTA']
                            hr.separator
                            div.form-group.material_input
                                input#secret(type="text" value=edit_application.secret name="terms_url" disabled)
                                label(for="secret") secret
                            div.form-group.material_input
                                input#token(type="text" value=edit_application.token name="terms_url" disabled)
                                label(for="token") token
                            div.form-group.buttons.inline
                                div.btn.btn-success.btn-lg(data-action="submit")= app.locals.admin_lang[locale].keys['SAVE_CTA']
                                div.btn.btn-danger.btn-lg(data-action="delete")= app.locals.admin_lang[locale].keys['DELETE_CTA']
