extends admin_header
block content
    div.admin
        div.shutter
            a.shutter_action(href="/admin/pages/new_page" title="ajouter une application")
                span.icon.icon-more.idkids-icons
                div.label Nouvelle Page
            h3= app.locals.admin_lang[locale].keys['PAGES_LEFT_PANEL']
            ul.app_list
                each page in pages
                    a(href="/admin/pages/edit_page/"+page._id title="éditer la page")
                        li
                            div.label= page.label
        div#pages.container(style= page === "pages" ? "display:block" : "display:none")
            div.article
                div.col.col-md-6
                    h1= app.locals.admin_lang[locale].keys['PAGES_TITLE']
                    p= app.locals.admin_lang[locale].keys['PAGES_MESSAGE']
                
        div.container(style= page === "new_page" ? "display:block" : "display:none")
            div.col.col-md-6
              div.formular.fullscreen#create_page
                  h1 Créer une page
                  br
                  form.form_content(method="POST" action='/api/pages')
                    div.form-group.material_input.minlength
                        input#label(type="text" name="label" minlength="4" required)
                        label(for="label") Label * uniq
                    div.form-group.material_input.minlength
                        input#url(type="text" name="url" minlength="4" required)
                        label(for="url") url * uniq
                    div.form-group.material_input.minlength
                        textarea#description(type="text" name="description" maxlength="255" minlength="75" required)
                        label(for="description") description (255 max char)
                    div.form-group.material_input.minlength
                        input#keywords(type="text" name="keywords" maxlength="75" minlength="25" required)
                        label(for="keywords") keywords (75 max char)
                    div.form-group
                        div.btn.btn-success.btn-lg(data-action="submit") Ajouter
        div.container(style= page === "edit_page" ? "display:block" : "display:none")
            div.col.col-md-12
              div.pager#pager_interface
            div.col.col-md-6
              div.formular.fullscreen#edit_page
                h1 Éditer la page
                br
                if(typeof edit_page !== "undefined")
                  form.form_content(method="PUT" action='/api/pages' data-id=edit_page._id)
                    input#_id.invisible(type="text" name="_id" value=edit_page._id)
                    div.form-group.material_input.minlength
                        input#label(type="text" name="label" minlength="4" value=edit_page.label required)
                        label(for="label") Label * uniq
                    div.form-group.material_input.minlength
                        input#url(type="text" name="url" minlength="4" value=edit_page.url required)
                        label(for="url") Url * uniq
                    div.form-group.material_input.minlength
                        textarea#description(type="text" name="description" maxlength="255" minlength="75" value=edit_page.description required)= edit_page.description
                        label(for="description") description (255 max char)
                    div.form-group.material_input.minlength
                        input#keywords(type="text" name="keywords" maxlength="75" minlength="25" value=edit_page.keywords required)
                        label(for="keywords") keywords (75 max char)
                    div.form-group.material_input
                        select#template(name="template")
                          option(value="personal_datas" selected=((edit_page.template === "personal_datas")? true : false)) données personnelles
                          option(value="use_of_cookies" selected=((edit_page.template === "use_of_cookies")? true : false)) utilisation des cookies
                          option(value="legal_notice" selected=((edit_page.template === "legal_notice")? true : false)) mentions legales
                          option(value="payment_and_orders" selected=((edit_page.template === "payment_and_orders")? true : false)) paiements et conditions de remboursement
                          option(value="terms_of_use" selected=((edit_page.template === "terms_of_use")? true : false)) conditions d'utilisation
                          option(value="applications" selected=((edit_page.template === "applications")? true : false)) applications
                          option(value="services" selected=((edit_page.template === "services")? true : false)) services
                          option(value="accounts-customer" selected=((edit_page.template === "accounts-customer")? true : false)) comptes utilisateur
                          
                    div.form-group.buttons.inline
                        div.btn.btn-success.btn-lg(data-action="submit")= app.locals.admin_lang[locale].keys['SAVE_CTA']
                        div.btn.btn-danger.btn-lg(data-action="delete")= app.locals.admin_lang[locale].keys['DELETE_CTA']
                        
