extends admin_header
block content
    div.admin
        div.shutter
            ul
                li 
                    span.icon.icon-widgets.idkids-icons
                    div.label= app.locals.admin_lang[locale].keys['APPS_NAV']
                li 
                    span.icon.icon-pencil.idkids-icons
                    div.label= app.locals.admin_lang[locale].keys['PAGES_NAV']
                li 
                    span.icon.icon-account.idkids-icons
                    div.label= app.locals.admin_lang[locale].keys['USERS_NAV']
                li 
                    span.icon.icon-notifications.idkids-icons
                    div.label= app.locals.admin_lang[locale].keys['NOTIFICATIONS_NAV']
        div.container
            div.article
                h1= app.locals.admin_lang[locale].keys['TRANSLATIONS_TITLE']
