div.col.col-md-7
  div.formular.basket
    h2 Mon panier
    hr
    if (typeof basket === "undefined" || basket.length === 0)
      p Votre panier est vide
    else
      if (typeof basket[0].products === "undefined" || basket[0].products.length === 0)
        p Votre panier est vide
      else
        ul.products_list
          each product in basket[0].products
            li
              div.col
                if(product.infos.thumb !== "" && typeof product.infos.thumb !== "undefined")
                  div.preview(style="background-image:url("+product.infos.thumb+")")
                else
                  div.preview
              div.infos
                div.label= product.infos.label
                //-div.label= _.where(app.locals.applications, {_id:product.infos.app_id})
                //-div.label= "Ajouté le : "+product.infos.created
                div.brand
                  img(src=product.infos.app_icon, width="24", height="24")
                  div.label= product.infos.app_label
                //$a.hyperlink(href="" target="_blank") Voir le produit
                div.cat= product.infos.category+" | "+product.infos.sub_category+" | "+product.infos.extra_category
              div.details
                div.price= (product.price/100)+"€"
                //-input.quantity#quantity(name="quantity" type="number" value=product.quantity)
                div.options
                  div.btn.btn-warning.btn-sm(data-basketid=basket[0]._id, data-productid=product.product_id, data-idkidssdk="delete_basket_product")
                    span.icon.idkids-icons.icon-trash
                    span.label Supprimer
              
div.col.col-md-5
  div.basket.formular
    h2 Résumé du panier
    hr
    if(typeof basket === "undefined" || basket.length === 0)
      p Votre panier est vide
    else
      div.formular.fullscreen#checkout_form
        form.form_content(method="POST", action="/orders/transaction")
          div.total_products= "Votre panier contient "+basket[0].products.length+" produit"+ ((basket[0].products.length > 1)? "s" : "")
          div.total= "Total "+(basket[0].total_amount/100)+"€"
          hr
          div.material_input.form-group
            input.form-control.minlength#coupon_code(type="text", name="coupon_code", data-errormessage="Ce code est invalide.")
            label(for="coupon_code") Code de réduction
          hr
          ul.coupons_list#coupons_list
          hr
          div.coupons_infos
            div.message
            div.amount
          div.btn.btn-success.btn-lg.centered#order_transaction(data-action="submit", data-basketid=basket[0]._id) Valider mon panier
          div.wallet_infos
            div.message
            div.amount
