div.formular#private_datas
    h1 Civilité
    form.form_content(method="POST" action='/account/profile/')
        p Vos données sont strictement confidentielles
        hr
        div.form_group.radio_list
            input#male(type="radio" name="gender" value="male" required='required', checked=user.gender=="male")
            label(for='male')= lang[locale].keys.gender_male
            input#female(type="radio" name="gender" value="female", checked=user.gender=="female")
            label(for='female')= lang[locale].keys.gender_female
        div.form-group.material_input
            input#email.form-control(disabled="true" type='email' placeholder=lang[locale].keys.email_holder name='pseudo' value=user.email data-erromessage=lang[locale].keys.email_error)
            label(for='email') !{lang[locale].keys.email_holder}
        div.form-group.material_input.minlength
            input#firstName.form-control(type='text', minlength="2", required="required", placeholder=lang[locale].keys.firstName_holder, name='firstName' value=user.firstName)
            label(for='firstName') !{lang[locale].keys.firstName_holder}
        div.form-group.material_input.minlength
            input#lastName.form-control(type='text', minlength="2", required="required", placeholder=lang[locale].keys.lastName_holder, name='lastName' value=user.lastName)
            label(for='lastName') !{lang[locale].keys.lastName_holder}
        div.form-group.material_input.minlength
            input#phone.form-control(type='tel', minlength="8", placeholder=lang[locale].keys.phone_holder, name='phone' value=user.phone)
            label(for='phone') !{lang[locale].keys.phone_holder}
        div.form-group.material_input.minlength
            input#mobile.form-control(type='tel', minlength="8", placeholder=lang[locale].keys.mobile_holder, name='mobile' value=user.mobile)
            label(for='mobile') !{lang[locale].keys.mobile_holder}
        hr
        button.btn.btn-success.btn-m(data-action='submit')= lang[locale].keys.save_cta
