div.formular#public_datas
  h1 Mon profil
  form.form_content(method="POST" action='/account/profile/')
      p Informations de votre profil public
      div.form_group
          input#avatar_cropper.image_cropper.invisible(type="file" data-width="256" data-height="256" data-target="avatar" name="avatar_cropper")
          label(for="avatar_cropper") Avatar 256*256
          br
          img#avatar_cropper_preview.preview.cropper_preview(width="150" height="150" data-for="avatar_cropper" src=user.avatar  onerror="this.src='/images/assets/account.svg'")
          input#avatar.invisible(type="text" name="avatar" value=user.avatar)  
      div.form-group.material_input.minlength
          input#pseudo.form-control(type='text', placeholder=lang[locale].keys.pseudo_holder, name='pseudo', required="required", value=user.pseudo, minlength="4", data-erromessage=lang[locale].keys.pseudo_error)
          label(for='pseudo') !{lang[locale].keys.pseudo_holder}
      div.form-group.material_input
          input#birthDate.form-control(type='date', placeholder=lang[locale].keys.birth_date_holder, name='birthDate' required="required", value=(new Date(user.birthDate).getFullYear()+"-"+((new Date(user.birthDate).getMonth() < 10) ? "0"+(new Date(user.birthDate).getMonth()+1) : (new Date(user.birthDate).getMonth()+1))+"-"+new Date(user.birthDate).getDate()), data-erromessage=lang[locale].birth_date_error, min='1899-01-01' max='2018-01-01' data-minage="16")
          label(for='birthDate') !{lang[locale].keys.birth_date_holder}
          
      p= (new Date(user.birthDate).getFullYear()+"-"+((new Date(user.birthDate).getMonth() < 10) ? "0"+(new Date(user.birthDate).getMonth()+1) : (new Date(user.birthDate).getMonth()+1))+"-"+new Date(user.birthDate).getDate())
      hr
      p !{lang[locale].keys.public_checks}
      div.form-group.inline
          input#public_locale.form-control(type='checkbox' name='public_locale' checked=user.public_locale)
          label(for="public_locale") !{lang[locale].keys.public_locale_check}
      div.form-group.inline
          input#public_kids.form-control(type='checkbox' name='public_kids' checked=user.public_kids)
          label(for="public_kids") !{lang[locale].keys.public_kids_check}
      div.form-group.inline
          input#public_gamification.form-control(type='checkbox' name='public_gamification' checked=user.public_gamification)
          label(for="public_gamification") !{lang[locale].keys.public_gamification_check}
      div.form-group.inline
          input#public_created.form-control(type='checkbox' name='public_created' checked=user.public_created)
          label(for="public_created") !{lang[locale].keys.public_created_check}
      div.form-group.inline
          input#public_interest.form-control(type='checkbox' name='public_interest' checked=user.public_interest)
          label(for="public_interest") !{lang[locale].keys.public_interest_check}
      button.btn.btn-success.btn-m(data-action='submit')= lang[locale].keys.save_cta
