div.formular#services_form
    h1 Mes services
    form.form_content(method="PUT" action='/account/profile/')
        div.form-group
            input.invisible(type='text' name="user_id" value=user._id)
        div.form-group
            input#newsletter.form-control(type='checkbox', name='newsletter' checked=user.newsletter)
            label(for="newsletter") !{lang[locale].keys.accept_newsletter}
        div.form-group.checkbox_relative_container(data-checkboxrelative="newsletter" style= user.newsletter === true ? "display:block" : "display:none")
            div.checkbox_relative.array_list_inputs(data-name="newsletter_services")
                p !{lang[locale].keys.accept_newsletter_partners}
                if(typeof app.locals.applications !== "undefined")
                  each apps in app.locals.applications
                    if(apps.has_newsletter)
                      div.line
                        input.form-control(id="newsletter_"+apps.short_name type='checkbox', name='newsletter_'+apps.short_name, checked=((user.newsletter_services && user.newsletter_services['newsletter_'+apps.short_name] === true)? true : false))
                        label(for="newsletter_"+apps.short_name) 
                          b= apps.name
                          span= " "+apps.short_desc
                div.line
                    input#newsletter_others.form-control(type='checkbox', name='newsletter_others', checked=((user.newsletter_services && user.newsletter_services.newsletter_others === true)? true : false))
                    label(for="newsletter_others") !{lang[locale].keys.accept_newsletter_others}
                p !{lang[locale].keys.accept_notifications_more_informations}
        div.form-group
            input#sms.form-control(type='checkbox', name='sms' checked=user.sms)
            label(for="sms") !{lang[locale].keys.accept_sms}
        div.form-group.checkbox_relative_container(data-checkboxrelative="sms" style= user.sms === true ? "display:block" : "display:none")
            div.checkbox_relative.array_list_inputs(data-name="sms_services")
                p !{lang[locale].keys.accept_sms_partners}
                if(typeof app.locals.applications !== "undefined")
                  each apps in app.locals.applications
                    if(apps.has_sms)
                      div.line
                          input.form-control(type='checkbox', id='sms_'+apps.short_name, name='sms_'+apps.short_name, checked=((user.sms_services && user.sms_services['sms_'+apps.short_name] === true)? true : false))
                          label(for="sms_"+apps.short_name)
                            b= apps.name
                            span= " "+apps.short_desc
                div.line
                    input#sms_others.form-control(type='checkbox', name='sms_others', checked=((user.sms_services && user.sms_services.sms_others === true)? true : false))
                    label(for="sms_others") !{lang[locale].keys.accept_sms_others}
                p !{lang[locale].keys.accept_notifications_more_informations}
        div.form-group.buttons.inline
            div#submit_services.btn.btn-success(data-action="submit" data-userid=user._id)= lang[locale].keys.save_cta
