extends account_header

block content
    div.container.with_head
        div.diagonal
        div.dashboard#account(style= (page === "" || page === "account") ? "display:block" : "display:none")
          div.row.centered
            div.col.col-md-4
              div.block.apps
                h2 Profil
                if (profile_percent < 100)
                  p Votre profil est incomplet
                else
                  p Votre profil est complet
                div.amount #{profile_percent}%
                a.btn.centered(href="/account/profile", target="_self", data-action="page_reload") Mettre à jour
            div.col.col-md-4
                div.block.basket
                  h2 Panier
                  if (typeof basket === "undefined" || basket.length === 0)
                    p Votre panier est vide
                    div.amount 0.00€
                  else
                    if (typeof basket[0].products === "undefined" || basket[0].products.length === 0)
                      p Votre panier est vide
                      div.amount 0.00€
                    else
                      p= "Votre panier contient "+basket[0].products.length+" produit"+ ((basket[0].products.length > 1)? "s" : "")
                      div.amount= (basket[0].total_amount/100)+"€"
                  
                  a.btn.btn-warning.centered(href="/account/basket", target="_self", data-action="page_reload") Voir mon panier
            div.col.col-md-4
                div.block.orders
                  h2 Achats
                  p Total des commandes
                  if typeof orders === "undefined"
                    div.amount 0
                  else
                    div.amount #{orders.length}
                  
                  a.btn.btn-success.centered(href="/account/basket", target="_self", data-action="page_reload") Voir mes commandes
            div.col.col-md-12
                div.block.products
                  h2 Achats
                  if userproducts.length === 0
                    p Vous n'avez effectué aucun achat
                  else
                    p Liste de vos achats
                    table.prod_list
                      tr
                        th Nom
                        th Style
                        th Prix
                      each product in userproducts
                        tr
                          td 
                            a(href="http://machanson.joyvox.fr/playlist/"+product.meta_datas._id) #{product.meta_datas.label}
                          td #{product.meta_datas.extra_category}
                          td #{product.meta_datas.price/100}€
              
        div.row#profile(style= page === "profile" ? "display:block" : "display:none")
            div.col.col-md-7
                include account/profile.pug
                include account/civility.pug
            div.col.col-md-5
                include account/members.pug
                //include account/fidelity_card.pug
        div.row#addresses(style= page === "addresses" ? "display:block" : "display:none")
            div.col.col-md-7
                include account/address.pug
            div.col.col-md-5
                div.formular
                    if(typeof user.address !== "undefined")
                        if(user.address.length > 0)
                            h2 Mes Addresses
                            ul.col_options_list
                                each address in user.address
                                    li(data-memberid=address._id)
                                        div.infos
                                            hr
                                            div.label
                                                b= address.label 
                                            div.infos= address.AddressLine1+" "+address.cp+" "+address.city+" "+address.country
                                            hr
                                            if(typeof address.geocoder !== "undefined")
                                                img(src="https://maps.googleapis.com/maps/api/staticmap?center="+address.geocoder.latitude+","+address.geocoder.longitude+"&size=308x150&maptype=roadmap&markers=color:blue%7Clabel:"+address.label+"%7C"+address.geocoder.latitude+","+address.geocoder.longitude+"&key=AIzaSyC775FJ84i8138zCKyiLchlMzrvF1nbEvA" width="100%")
                                        ul.options
                                            a(href="/account/addresses/"+address._id title="editer cette adresse")
                                                li.primary
                                                    div.icon.icon-pencil.idkids-icons
                                                    div.label Éditer
                                            li.danger(data-action="delete" data-post="/address" data-type="address_id" data-value=address._id)
                                                div.icon.icon-trash.idkids-icons
                                                div.label Supprimer
                            
        div.row#basket(style= page === "basket" ? "display:block" : "display:none")
            include account/basket.pug
        div.row#orders(style= page === "orders" ? "display:block" : "display:none")
            include account/orders.pug
        div.row#services(style= page === "services" ? "display:block" : "display:none")
            div.col.col-md-7
                include account/services.pug
            div.col.col-md-5
                div.formular
                    h2= lang[locale].keys.notifications_kids_title
                    p= lang[locale].keys.notifications_kids_message
                    if(user.members && user.members.length > 0)
                        hr.separator
                        p= lang[locale].keys.notifications_kids_details
                        ul.member_details
                            each member in user.members
                                li
                                    div.avatar
                                        img(src=member.avatar)
                                    div.name= member.first_name
                                    div.gender= lang[locale].keys["kid_gender_"+member.gender]
                                    div.age= Math.abs(new Date().getUTCFullYear() - new Date(member.birth_date).getFullYear())+" "+lang[locale].keys.age_years
                        hr.separator
                        p= lang[locale].keys.how_to_manage_kids
                        form.form_content
                            div.btn.btn-m.btn-success(href="/account/profile" data-action="page_reload")= lang[locale].keys.manage_kids_cta
                //if(!user.mobile || user.mobile === "")
                div.formular
                    h2= lang[locale].keys.notifications_sms_need_mobile_title
                    p= lang[locale].keys.notifications_sms_need_mobile_message
                    form.form_content(method="POST" action='/account/profile/')
                        input.invisible(type="text" name="user_id" value=user._id)
                        div.form-group.material_input.minlength
                            input#updt_mobile.form-control(type='tel', minlength="8", placeholder=lang[locale].keys.mobile_holder, name='mobile' value=user.mobile)
                            label(for='updt_mobile') !{lang[locale].keys.mobile_holder}
                        hr
                        button.btn.btn-success.btn-m= lang[locale].keys.save_cta
        
        div.row#member(style= page === "member" ? "display:block" : "display:none")
            if(typeof member_infos !== "undefined")
                div.col.col-md-7
                    div.formular#member_datas(data-memberid=member_infos._id)
                        hr
                        br
                        form.form_content(method="PUT" action='/me/members/')
                            div.form_group
                                input#child_avatar_cropper.image_cropper.invisible(type="file" data-width="256" data-height="256" data-target="child_avatar" name="child_avatar_cropper")
                                label(for="child_avatar_cropper") Avatar 256*256px
                                br
                                img#child_avatar_cropper_preview.preview.cropper_preview(width="150" height="150" data-for="child_avatar_cropper" src=member_infos.avatar  onerror="this.src='/images/assets/account.svg'")
                                input#child_avatar.invisible(type="text" name="avatar" value=member_infos.avatar)

                            
                            hr.separator
                            div.form-group.material_input.minlength
                                input#first_name(type="text" name="first_name" minlength="4" value=member_infos.first_name)
                                label(for="first_name") child_first_name
                            div.form-group.material_input.minlength
                                input#last_name(type="text" name="last_name" minlength="4" value=member_infos.last_name)
                                label(for="last_name") child_last_name
                            div.form-group.material_input
                                input#birth_date(type="date" name="birth_date" value=member_infos.birth_date)
                                label(for="birth_date") birth_date
                            hr.separator
                            div.form_group.radio_list
                                input#child_male(type="radio" name="gender" value="male" required='required', checked=member_infos.gender=="male")
                                label(for='child_male') garçon
                                input#child_female(type="radio" name="gender" value="female", checked=member_infos.gender=="female")
                                label(for='child_female') fille
                            div.form-group.buttons.inline
                                div#submit_member.btn.btn-success(data-action="save" data-memberid=member_infos._id)= lang[locale].keys.save_cta
                                
        div.row#security(style= page === "security" ? "display:block" : "display:none")
            div.col.col-md-7
                div.formular#security_form
                    h1= lang[locale].keys.security_form_password_title
                    form.form_content(method="POST" action='/account/profile')
                        div.form-group.material_input
                            input#change_password_old.form-control(type='password' name='change_password_old' required="required" minlength="8" data-regex="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$" data-errormessage=lang[locale].keys.password_error)
                            label(for='change_password_old')= lang[locale].keys.actual_password_holder
                        div.input_check(data-checkinput="change_password_old")
                            div.check.check_length= lang[locale].keys.input_check_length
                            div.check.check_capital= lang[locale].keys.input_check_capital
                            div.check.check_number= lang[locale].keys.input_check_number
                        div.form-group.material_input
                            input#change_password_new.form-control(type='password' name='change_password_new' required="required" minlength="8" data-regex="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$" data-errormessage=lang[locale].keys.password_error)
                            label(for='change_password_new')= lang[locale].keys.password_new_holder
                        div.input_check(data-checkinput="change_password_new")
                            div.check.check_length= lang[locale].keys.input_check_length
                            div.check.check_capital= lang[locale].keys.input_check_capital
                            div.check.check_number= lang[locale].keys.input_check_number
                        div.form-group.material_input
                            input#retype_change_password_new.form-control(type='password' name='retype_change_password_new' required="required" minlength="8" data-regex="same" data-target="change_password_new" data-errormessage=lang[locale].keys.retype_password_error)
                            label(for='retype_change_password_new') !{lang[locale].keys.retype_password_new_holder}
                        div.btn.btn-m.btn-success(data-action="submit" data-userid=user._id)= lang[locale].keys.change_password_cta
            div.col.col-md-5
                include account/security.pug
        div.row#fidelity(style= page === "fidelity" ? "display:block" : "display:none")
            h1 fidelity
            div.col.col-md-3
                canvas#canvas(width="50" height="50")
            div.col.col-md-9
                p= JSON.stringify(user) 
        
