doctype html
html
  head
    title= title
    meta(name='viewport' content ='width=device-width, initial-scale=1, user-scalable=no')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content ='IE=edge')
    link(rel='stylesheet', href='/stylesheets/style.min.css')
    link(rel='stylesheet', href='/public/fonts/dist/idkids-icons.min.css')
    link(rel='stylesheet', href='/public/stylesheets/idkids-sdk/idkids-sdk.min.css')
    link(rel='stylesheet', href='/public/stylesheets/component/popeye.min.css')
    script(src="/public/javascripts/function_helper.min.js")
    if(css)
        each val in css
            link(rel='stylesheet', href=val)
  body
    header.header
        div
            a(href="/" title="Accueil")
                div.logo.idkids
        nav.short_cuts
            ul
                include widgets.pug
                include notifs.pug
                li#account_taskbar
                    a(href="#")
                        div#account_infos
                            if(user.avatar)
                                div.avatar.sm
                                    img(src=user.avatar)
                            else
                                div.icon.icon-account_1.idkids-icons.lg
                    div.subnav.account
                        div.account_infos
                            div.avatar
                                img(src=user.avatar)
                            div.infos
                                div.label= user.pseudo
                                div.email= user.email
                                a(href="/account/account").btn.btn-success Mon compte
                        div.other_accounts
                        div.options
                            a.btn.btn-default.btn-sm(href="/auth") Ajouter un compte
                            a.btn.btn-default.btn-sm.btn-danger(href="/auth/logout") Déconnexion
        include account_nav.pug
        include scroll_progress.pug
    include account_validated.pug
    block content
    include footer.pug
            
