extends account_header

block content
    div.container.with_head
        div.row#profile(style= page === "profile" ? "display:block" : "display:none")
            div.col.col-md-7
                div.formular#public_datas
                    h1 Mon profil
                    form.form_content(method="POST" action='/account/profile/')
                        p Informations de votre profil public
                        
                        div.form_group
                            input#avatar_cropper.image_cropper.invisible(type="file" data-width="256" data-height="256" data-target="avatar" name="avatar_cropper")
                            label(for="avatar_cropper") Avatar 256*256
                            br
                            img#avatar_cropper_preview.preview.cropper_preview(width="150" height="150" data-for="avatar_cropper" src=user.avatar  onerror="this.src='/images/assets/account.svg'")
                            input#avatar.invisible(type="text" name="avatar" value=user.avatar)  
                        div.form-group.material_input.minlength
                            input#pseudo.form-control(type='text', placeholder=lang[locale].keys.pseudo_holder, name='pseudo', required="required", value=user.pseudo, minlength="4", data-erromessage=lang[locale].keys.pseudo_error)
                            label(for='pseudo') !{lang[locale].keys.pseudo_holder}
                        div.form-group.material_input
                            input#birthDate.form-control(type='date', placeholder=lang[locale].keys.birth_date_holder, name='birthDate' required="required", value=(new Date(user.birthDate).getFullYear()+"-"+((new Date(user.birthDate).getMonth() < 10) ? "0"+(new Date(user.birthDate).getMonth()+1) : (new Date(user.birthDate).getMonth()+1))+"-"+new Date(user.birthDate).getDate()), data-erromessage=lang[locale].birth_date_error, min='1899-01-01' max='2018-01-01' data-minage="16")
                            label(for='birthDate') !{lang[locale].keys.birth_date_holder}
                        hr
                        p Je souhaites que les données suivantes soient visible publiquement
                        div.form-group.inline
                            input#public_locale.form-control(type='checkbox' name='public_profile' value='public_locale' checked=((user.public_profile && user.public_profile.indexOf('public_locale') === -1)? false : true))
                            label(for="public_locale") Ma ville, ma région et mon pays <b>(votre adresses postale exacte ne sera pas visible)</b>
                        div.form-group.inline
                            input#public_kids.form-control(type='checkbox' name='public_profile' value='public_kids' checked=((user.public_profile && user.public_profile.indexOf('public_kids') === -1)? false : true))
                            label(for="public_kids") Pseudo et l'âge de mes enfants
                        div.form-group.inline
                            input#public_gamification.form-control(type='checkbox' name='public_profile' value='public_gamification' checked=((user.public_profile && user.public_profile.indexOf('public_gamification') === -1)? false : true))
                            label(for="public_gamification") Partager mes badges et succès
                        div.form-group.inline
                            input#public_created.form-control(type='checkbox' name='public_profile' value='public_created' checked=((user.public_profile && user.public_profile.indexOf('public_created') === -1)? false : true))
                            label(for="public_created") Date d'inscrition et ancienneté
                        div.form-group.inline
                            input#public_interest.form-control(type='checkbox' name='public_profile' value='public_interest' checked=((user.public_profile && user.public_profile.indexOf('public_interest') === -1)? false : true))
                            label(for="public_interest") !{lang[locale].keys.public_interest_check}
                        button.btn.btn-success.btn-m(type='submit')= lang[locale].keys.save_cta
                div.formular#private_datas
                    h1 Civilité
                    form.form_content(method="POST" action='/account/profile/')
                        p Vos données sont strictement confidentielles
                        hr
                        div.form_group.radio_list
                            input#male(type="radio" name="gender" value="male" required='required', checked=user.gender=="male")
                            label(for='male')= lang[locale].keys.gender_male
                            input#female(type="radio" name="gender" value="female", checked=user.gender=="female")
                            label(for='female')= lang[locale].keys.gender_female
                        div.form-group.material_input
                            input#email.form-control(disabled="true" type='email' placeholder=lang[locale].keys.email_holder name='pseudo' value=user.email data-erromessage=lang[locale].keys.email_error)
                            label(for='email') !{lang[locale].keys.email_holder}
                        div.form-group.material_input.minlength
                            input#firstName.form-control(type='text', minlength="2", required="required", placeholder=lang[locale].keys.firstName_holder, name='firstName' value=user.firstName)
                            label(for='firstName') !{lang[locale].keys.firstName_holder}
                        div.form-group.material_input.minlength
                            input#lastName.form-control(type='text', minlength="2", required="required", placeholder=lang[locale].keys.lastName_holder, name='lastName' value=user.lastName)
                            label(for='lastName') !{lang[locale].keys.lastName_holder}
                        div.form-group.material_input.minlength
                            input#phone.form-control(type='tel', minlength="8", placeholder=lang[locale].keys.phone_holder, name='phone' value=user.phone)
                            label(for='phone') !{lang[locale].keys.phone_holder}
                        div.form-group.material_input.minlength
                            input#mobile.form-control(type='tel', minlength="8", placeholder=lang[locale].keys.mobile_holder, name='mobile' value=user.mobile)
                            label(for='mobile') !{lang[locale].keys.mobile_holder}
                        hr
                        button.btn.btn-success.btn-m(type='submit')= lang[locale].keys.save_cta
                
            div.col.col-md-5
                div.formular#add_kid
                    h2 Mes Enfants
                    if(typeof user.members !== "undefined")
                        if(user.members.length > 0)
                            ul.col_options_list
                                each member in user.members
                                    li(data-memberid=member._id)
                                        div.infos
                                            div.avatar
                                                img(src=member.avatar+"" onerror="this.src='/images/assets/account.svg'")
                                            div.first_name= member.first_name 
                                            div.birth_date= member.birth_date
                                        ul.options
                                            li.primary(data-action="edit" data-edittemplate="member_edit_template" data-post="/me/members" data-value=member._id)
                                                div.icon.icon-pencil.idkids-icons
                                                div.label Éditer
                                            li.danger(data-action="delete" data-post="/me/members" data-type="member_id" data-value=member._id)
                                                div.icon.icon-trash.idkids-icons
                                                div.label Supprimer
                    form.form_content(method="POST" action='/me/members')
                        if(typeof user.members !== "undefined")
                            if(user.members.length == 0)
                                p Présentez-nous votre famille pour bénéficier de <a href="/family">conseils et offres personnalisés</a>.<br/><b> Obtenez 8€ de cadeau pour son anniversaire !</b>
                            else
                                h3 Ajouter un enfant
                        hr.separator
                        div#child
                            div.form-group.material_input.minlength
                                input#first_name.form-control(type='text', placeholder=lang[locale].keys.child_first_name_holder, name='first_name', required="required", value="", minlength="4", data-erromessage=lang[locale].keys.child_first_name_error)
                                label(for='child_first_name') !{lang[locale].keys.child_first_name_holder}
                            div.form-group.material_input
                                input#birth_date.form-control(type='date', placeholder=lang[locale].keys.child_birth_date_holder, name='birth_date', required="required", value="", data-erromessage=lang[locale].keys.child_birth_date_error)
                                label(for='birth_date') !{lang[locale].keys.child_birth_date_holder}
                        div.btn.btn-success.btn-m.btn-disabled(data-action='submit')= lang[locale].keys.add_kid_cta
                div.formular
                    h1 Ma carte de fidélité
                    form.form_content
                        p Demandez votre carte de <a href="/fidelity_card">fidélité pour profiter des avantages</a> de nos marques et services
                        button.btn.btn-success.btn-m(type='submit')= lang[locale].keys.fidelity_card_cta
        div.row#addresses(style= page === "addresses" ? "display:block" : "display:none")
            div.col.col-md-7
                div.formular#address_form
                    if(typeof address_infos === "undefined")
                        h1= lang[locale].keys.address_form_title
                    else
                        h1 Éditer mon adresse
                    form.form_content(method="POST" action='/address/')
                        if(!address_infos)
                            p= lang[locale].keys.address_form_message
                        hr
                        div.form-group
                            input.invisible(type='text' name="user_id" value=user._id)
                        div.form-group.material_input.minlength
                            input#addressLabel.form-control(type='text', placeholder=lang[locale].keys.addressLabel_holder, name='label', required="required", value=((address_infos)? address_infos.label : ""), minlength="4", data-erromessage=lang[locale].keys.addressLabel_error)
                            label(for='addressLabel') !{lang[locale].keys.addressLabel_holder}
                        div.form-group.material_input.minlength
                            input#addressFirstName.form-control(type='text', placeholder=lang[locale].keys.addressFirstName_holder, name='first_name', required="required", value=((address_infos)? address_infos.first_name : user.firstName), minlength="4", data-erromessage=lang[locale].keys.addressFirstName_error)
                            label(for='addressFirstName') !{lang[locale].keys.addressFirstName_holder}
                        div.form-group.material_input.minlength
                            input#addressLastName.form-control(type='text', placeholder=lang[locale].keys.addressLastName_holder, name='last_name', required="required", value=((address_infos)? address_infos.first_name : user.lastName), minlength="4", data-erromessage=lang[locale].keys.addressLastName_error)
                            label(for='addressLastName') !{lang[locale].keys.addressLastName_holder}
                        div.form-group.material_input.minlength
                            input#address.form-control(type='text', placeholder=lang[locale].keys.addess_holder, name='AddressLine1', required="required", value=((address_infos)? address_infos.AddressLine1 : ""), minlength="8", data-erromessage=lang[locale].keys.address_error)
                            label(for='address') !{lang[locale].keys.addess_holder}
                        div.form-group.material_input
                            input#addressMore.form-control(type='text', placeholder=lang[locale].keys.addressMore_holder, name='AddressLine2' value=((address_infos)? address_infos.AddressLine2 : ""), data-erromessage=lang[locale].addressMore_error)
                            label(for='addressMore') !{lang[locale].keys.addressMore_holder}
                        div.form-group.material_input
                            input#city.form-control(required="required", type='text', placeholder=lang[locale].keys.city_holder, name='city' value=((address_infos)? address_infos.city : ""), data-erromessage=lang[locale].city_error)
                            label(for='city') !{lang[locale].keys.city_holder}
                        div.form-group.material_input
                            input#postalCode.form-control(required="required", type='text', placeholder=lang[locale].keys.postalCode_holder, name='cp' value=((address_infos)? address_infos.cp : ""), data-erromessage=lang[locale].postalCode_error)
                            label(for='postalCode') !{lang[locale].keys.postalCode_holder}
                        div.form-group.material_input
                            select#addressCountry(name="country")
                                option(value="AF") Afghanistan
                                option(value="AX") Åland Islands
                                option(value="AL") Albania
                                option(value="DZ") Algeria
                                option(value="AS") American Samoa
                                option(value="AD") Andorra
                                option(value="AO") Angola
                                option(value="AI") Anguilla
                                option(value="AQ") Antarctica
                                option(value="AG") Antigua and Barbuda
                                option(value="AR") Argentina
                                option(value="AM") Armenia
                                option(value="AW") Aruba
                                option(value="AU") Australia
                                option(value="AT") Austria
                                option(value="AZ") Azerbaijan
                                option(value="BS") Bahamas
                                option(value="BH") Bahrain
                                option(value="BD") Bangladesh
                                option(value="BB") Barbados
                                option(value="BY") Belarus
                                option(value="BE") Belgium
                                option(value="BZ") Belize
                                option(value="BJ") Benin
                                option(value="BM") Bermuda
                                option(value="BT") Bhutan
                                option(value="BO") Bolivia, Plurinational State of
                                option(value="BQ") Bonaire, Sint Eustatius and Saba
                                option(value="BA") Bosnia and Herzegovina
                                option(value="BW") Botswana
                                option(value="BV") Bouvet Island
                                option(value="BR") Brazil
                                option(value="IO") British Indian Ocean Territory
                                option(value="BN") Brunei Darussalam
                                option(value="BG") Bulgaria
                                option(value="BF") Burkina Faso
                                option(value="BI") Burundi
                                option(value="KH") Cambodia
                                option(value="CM") Cameroon
                                option(value="CA") Canada
                                option(value="CV") Cape Verde
                                option(value="KY") Cayman Islands
                                option(value="CF") Central African Republic
                                option(value="TD") Chad
                                option(value="CL") Chile
                                option(value="CN") China
                                option(value="CX") Christmas Island
                                option(value="CC") Cocos (Keeling) Islands
                                option(value="CO") Colombia
                                option(value="KM") Comoros
                                option(value="CG") Congo
                                option(value="CD") Congo, the Democratic Republic of the
                                option(value="CK") Cook Islands
                                option(value="CR") Costa Rica
                                option(value="CI") Côte d'Ivoire
                                option(value="HR") Croatia
                                option(value="CU") Cuba
                                option(value="CW") Curaçao
                                option(value="CY") Cyprus
                                option(value="CZ") Czech Republic
                                option(value="DK") Denmark
                                option(value="DJ") Djibouti
                                option(value="DM") Dominica
                                option(value="DO") Dominican Republic
                                option(value="EC") Ecuador
                                option(value="EG") Egypt
                                option(value="SV") El Salvador
                                option(value="GQ") Equatorial Guinea
                                option(value="ER") Eritrea
                                option(value="EE") Estonia
                                option(value="ET") Ethiopia
                                option(value="FK") Falkland Islands (Malvinas)
                                option(value="FO") Faroe Islands
                                option(value="FJ") Fiji
                                option(value="FI") Finland
                                option(value="FR" selected) France
                                option(value="GF") French Guiana
                                option(value="PF") French Polynesia
                                option(value="TF") French Southern Territories
                                option(value="GA") Gabon
                                option(value="GM") Gambia
                                option(value="GE") Georgia
                                option(value="DE") Germany
                                option(value="GH") Ghana
                                option(value="GI") Gibraltar
                                option(value="GR") Greece
                                option(value="GL") Greenland
                                option(value="GD") Grenada
                                option(value="GP") Guadeloupe
                                option(value="GU") Guam
                                option(value="GT") Guatemala
                                option(value="GG") Guernsey
                                option(value="GN") Guinea
                                option(value="GW") Guinea-Bissau
                                option(value="GY") Guyana
                                option(value="HT") Haiti
                                option(value="HM") Heard Island and McDonald Islands
                                option(value="VA") Holy See (Vatican City State)
                                option(value="HN") Honduras
                                option(value="HK") Hong Kong
                                option(value="HU") Hungary
                                option(value="IS") Iceland
                                option(value="IN") India
                                option(value="ID") Indonesia
                                option(value="IR") Iran, Islamic Republic of
                                option(value="IQ") Iraq
                                option(value="IE") Ireland
                                option(value="IM") Isle of Man
                                option(value="IL") Israel
                                option(value="IT") Italy
                                option(value="JM") Jamaica
                                option(value="JP") Japan
                                option(value="JE") Jersey
                                option(value="JO") Jordan
                                option(value="KZ") Kazakhstan
                                option(value="KE") Kenya
                                option(value="KI") Kiribati
                                option(value="KP") Korea, Democratic People's Republic of
                                option(value="KR") Korea, Republic of
                                option(value="KW") Kuwait
                                option(value="KG") Kyrgyzstan
                                option(value="LA") Lao People's Democratic Republic
                                option(value="LV") Latvia
                                option(value="LB") Lebanon
                                option(value="LS") Lesotho
                                option(value="LR") Liberia
                                option(value="LY") Libya
                                option(value="LI") Liechtenstein
                                option(value="LT") Lithuania
                                option(value="LU") Luxembourg
                                option(value="MO") Macao
                                option(value="MK") Macedonia, the former Yugoslav Republic of
                                option(value="MG") Madagascar
                                option(value="MW") Malawi
                                option(value="MY") Malaysia
                                option(value="MV") Maldives
                                option(value="ML") Mali
                                option(value="MT") Malta
                                option(value="MH") Marshall Islands
                                option(value="MQ") Martinique
                                option(value="MR") Mauritania
                                option(value="MU") Mauritius
                                option(value="YT") Mayotte
                                option(value="MX") Mexico
                                option(value="FM") Micronesia, Federated States of
                                option(value="MD") Moldova, Republic of
                                option(value="MC") Monaco
                                option(value="MN") Mongolia
                                option(value="ME") Montenegro
                                option(value="MS") Montserrat
                                option(value="MA") Morocco
                                option(value="MZ") Mozambique
                                option(value="MM") Myanmar
                                option(value="NA") Namibia
                                option(value="NR") Nauru
                                option(value="NP") Nepal
                                option(value="NL") Netherlands
                                option(value="NC") New Caledonia
                                option(value="NZ") New Zealand
                                option(value="NI") Nicaragua
                                option(value="NE") Niger
                                option(value="NG") Nigeria
                                option(value="NU") Niue
                                option(value="NF") Norfolk Island
                                option(value="MP") Northern Mariana Islands
                                option(value="NO") Norway
                                option(value="OM") Oman
                                option(value="PK") Pakistan
                                option(value="PW") Palau
                                option(value="PS") Palestinian Territory, Occupied
                                option(value="PA") Panama
                                option(value="PG") Papua New Guinea
                                option(value="PY") Paraguay
                                option(value="PE") Peru
                                option(value="PH") Philippines
                                option(value="PN") Pitcairn
                                option(value="PL") Poland
                                option(value="PT") Portugal
                                option(value="PR") Puerto Rico
                                option(value="QA") Qatar
                                option(value="RE") Réunion
                                option(value="RO") Romania
                                option(value="RU") Russian Federation
                                option(value="RW") Rwanda
                                option(value="BL") Saint Barthélemy
                                option(value="SH") Saint Helena, Ascension and Tristan da Cunha
                                option(value="KN") Saint Kitts and Nevis
                                option(value="LC") Saint Lucia
                                option(value="MF") Saint Martin (French part)
                                option(value="PM") Saint Pierre and Miquelon
                                option(value="VC") Saint Vincent and the Grenadines
                                option(value="WS") Samoa
                                option(value="SM") San Marino
                                option(value="ST") Sao Tome and Principe
                                option(value="SA") Saudi Arabia
                                option(value="SN") Senegal
                                option(value="RS") Serbia
                                option(value="SC") Seychelles
                                option(value="SL") Sierra Leone
                                option(value="SG") Singapore
                                option(value="SX") Sint Maarten (Dutch part)
                                option(value="SK") Slovakia
                                option(value="SI") Slovenia
                                option(value="SB") Solomon Islands
                                option(value="SO") Somalia
                                option(value="ZA") South Africa
                                option(value="GS") South Georgia and the South Sandwich Islands
                                option(value="SS") South Sudan
                                option(value="ES") Spain
                                option(value="LK") Sri Lanka
                                option(value="SD") Sudan
                                option(value="SR") Suriname
                                option(value="SJ") Svalbard and Jan Mayen
                                option(value="SZ") Swaziland
                                option(value="SE") Sweden
                                option(value="CH") Switzerland
                                option(value="SY") Syrian Arab Republic
                                option(value="TW") Taiwan, Province of China
                                option(value="TJ") Tajikistan
                                option(value="TZ") Tanzania, United Republic of
                                option(value="TH") Thailand
                                option(value="TL") Timor-Leste
                                option(value="TG") Togo
                                option(value="TK") Tokelau
                                option(value="TO") Tonga
                                option(value="TT") Trinidad and Tobago
                                option(value="TN") Tunisia
                                option(value="TR") Turkey
                                option(value="TM") Turkmenistan
                                option(value="TC") Turks and Caicos Islands
                                option(value="TV") Tuvalu
                                option(value="UG") Uganda
                                option(value="UA") Ukraine
                                option(value="AE") United Arab Emirates
                                option(value="GB") United Kingdom
                                option(value="US") United States
                                option(value="UM") United States Minor Outlying Islands
                                option(value="UY") Uruguay
                                option(value="UZ") Uzbekistan
                                option(value="VU") Vanuatu
                                option(value="VE") Venezuela, Bolivarian Republic of
                                option(value="VN") Viet Nam
                                option(value="VG") Virgin Islands, British
                                option(value="VI") Virgin Islands, U.S.
                                option(value="WF") Wallis and Futuna
                                option(value="EH") Western Sahara
                                option(value="YE") Yemen
                                option(value="ZM") Zambia
                                option(value="ZW") Zimbabwe
                            label(for='addressCountry') !{lang[locale].keys.addressCountry_holder}
                        div.form-group.material_input.minlength
                            input#addressMobile.form-control(type='tel' minlength="8" placeholder=lang[locale].keys.addressMobile_holder name='phone' value=((address_infos)? address_infos.phone : user.mobile) data-erromessage=lang[locale].addressMobile_error)
                            label(for='addressMobile') !{lang[locale].keys.mobile_holder}
                        if(address_infos)
                            input#_id.invisible(type='text' name='_id' value=(address_infos._id||""))
                        hr
                        h3 Prévisualisation
                        hr
                        div#map_preview.map_preview
                        
                        hr
                        button.btn.btn-success.btn-m(type='submit')= lang[locale].keys.saveAddress_cta
                        p= lang[locale].keys.input_need_message
                        div.form-group.material_input
                            textarea#more_datas(placeholder="précisions pour la livraison." name="AddressLine3")
                                = ((address_infos)? address_infos.AddressLine3 : "")
                            label(for='more_datas') Précisions sur la livraison
                    
            div.col.col-md-5
                div.formular
                    if(typeof user.address !== "undefined")
                        if(user.address.length > 0)
                            h2 Mes Addresses
                            ul.col_options_list
                                each address in user.address
                                    li(data-memberid=address._id)
                                        div.infos
                                            hr
                                            div.label
                                                b= address.label 
                                            div.infos= address.AddressLine1+" "+address.cp+" "+address.city+" "+address.country
                                            hr
                                            if(typeof address.geocoder !== "undefined")
                                                img(src="https://maps.googleapis.com/maps/api/staticmap?center="+address.geocoder.latitude+","+address.geocoder.longitude+"&size=308x150&maptype=roadmap&markers=color:blue%7Clabel:"+address.label+"%7C"+address.geocoder.latitude+","+address.geocoder.longitude+"&key=AIzaSyC775FJ84i8138zCKyiLchlMzrvF1nbEvA" width="100%")
                                        ul.options
                                            a(href="/account/addresses/"+address._id title="editer cette adresse")
                                                li.primary
                                                    div.icon.icon-pencil.idkids-icons
                                                    div.label Éditer
                                            li.danger(data-action="delete" data-post="/address" data-type="address_id" data-value=address._id)
                                                div.icon.icon-trash.idkids-icons
                                                div.label Supprimer
                            
        div.row#basket(style= page === "basket" ? "display:block" : "display:none")
            h1 basket
        div.row#orders(style= page === "orders" ? "display:block" : "display:none")
            h1 orders
        div.row#services(style= page === "services" ? "display:block" : "display:none")
            div.col.col-md-7
                div.formular#services_form
                    h1 Mes services
                    form.form_content(method="PUT" action='/account/profile/')
                        div.form-group
                            input.invisible(type='text' name="user_id" value=user._id)
                        div.form-group
                            input#newsletter.form-control(type='checkbox', name='newsletter' checked=user.newsletter)
                            label(for="newsletter") !{lang[locale].keys.accept_newsletter}
                        div.form-group.checkbox_relative_container(data-checkboxrelative="newsletter" style= user.newsletter === true ? "display:block" : "display:none")
                            div.checkbox_relative.array_list_inputs(data-name="newsletter_services")
                                p !{lang[locale].keys.accept_newsletter_partners}
                                if(typeof app.locals.applications !== "undefined")
                                  each apps in app.locals.applications
                                    if(apps.has_newsletter)
                                      div.line
                                        input.form-control(id="newsletter_"+apps.short_name type='checkbox', name='newsletter_'+apps.short_name, checked=((user.newsletter_services && user.newsletter_services['newsletter_'+apps.short_name] === true)? true : false))
                                        label(for="newsletter_"+apps.short_name) 
                                          b= apps.name
                                          span= " "+apps.short_desc
                                div.line
                                    input#newsletter_others.form-control(type='checkbox', name='newsletter_others', checked=((user.newsletter_services && user.newsletter_services.newsletter_others === true)? true : false))
                                    label(for="newsletter_others") !{lang[locale].keys.accept_newsletter_others}
                                p !{lang[locale].keys.accept_notifications_more_informations}
                        div.form-group
                            input#sms.form-control(type='checkbox', name='sms' checked=user.sms)
                            label(for="sms") !{lang[locale].keys.accept_sms}
                        div.form-group.checkbox_relative_container(data-checkboxrelative="sms" style= user.sms === true ? "display:block" : "display:none")
                            div.checkbox_relative.array_list_inputs(data-name="sms_services")
                                p !{lang[locale].keys.accept_sms_partners}
                                if(typeof app.locals.applications !== "undefined")
                                  each apps in app.locals.applications
                                    if(apps.has_sms)
                                      div.line
                                          input.form-control(type='checkbox', id='sms_'+apps.short_name, name='sms_'+apps.short_name, checked=((user.sms_services && user.sms_services['sms_'+apps.short_name] === true)? true : false))
                                          label(for="sms_"+apps.short_name)
                                            b= apps.name
                                            span= " "+apps.short_desc
                                div.line
                                    input#sms_others.form-control(type='checkbox', name='sms_others', checked=((user.sms_services && user.sms_services.sms_others === true)? true : false))
                                    label(for="sms_others") !{lang[locale].keys.accept_sms_others}
                                p !{lang[locale].keys.accept_notifications_more_informations}
                        div.form-group.buttons.inline
                            div#submit_services.btn.btn-success(data-action="submit" data-userid=user._id)= lang[locale].keys.save_cta
            div.col.col-md-5
                div.formular
                    h2= lang[locale].keys.notifications_kids_title
                    p= lang[locale].keys.notifications_kids_message
                    if(user.members && user.members.length > 0)
                        hr.separator
                        p= lang[locale].keys.notifications_kids_details
                        ul.member_details
                            each member in user.members
                                li
                                    div.avatar
                                        img(src=member.avatar)
                                    div.name= member.first_name
                                    div.gender= lang[locale].keys["kid_gender_"+member.gender]
                                    div.age= Math.abs(new Date().getUTCFullYear() - new Date(member.birth_date).getFullYear())+" "+lang[locale].keys.age_years
                        hr.separator
                        p= lang[locale].keys.how_to_manage_kids
                        form.form_content
                            div.btn.btn-m.btn-success(href="/account/profile" data-action="page_reload")= lang[locale].keys.manage_kids_cta
                //if(!user.mobile || user.mobile === "")
                div.formular
                    h2= lang[locale].keys.notifications_sms_need_mobile_title
                    p= lang[locale].keys.notifications_sms_need_mobile_message
                    form.form_content(method="POST" action='/account/profile/')
                        input.invisible(type="text" name="user_id" value=user._id)
                        div.form-group.material_input.minlength
                            input#updt_mobile.form-control(type='tel', minlength="8", placeholder=lang[locale].keys.mobile_holder, name='mobile' value=user.mobile)
                            label(for='updt_mobile') !{lang[locale].keys.mobile_holder}
                        hr
                        button.btn.btn-success.btn-m= lang[locale].keys.save_cta
        
        div.row#member(style= page === "member" ? "display:block" : "display:none")
            if(typeof member_infos !== "undefined")
                div.col.col-md-7
                    div.formular#member_datas(data-memberid=member_infos._id)
                        hr
                        br
                        form.form_content(method="PUT" action='/me/members/')
                            div.form_group
                                input#child_avatar_cropper.image_cropper.invisible(type="file" data-width="256" data-height="256" data-target="child_avatar" name="child_avatar_cropper")
                                label(for="child_avatar_cropper") Avatar 256*256px
                                br
                                img#child_avatar_cropper_preview.preview.cropper_preview(width="150" height="150" data-for="child_avatar_cropper" src=member_infos.avatar  onerror="this.src='/images/assets/account.svg'")
                                input#child_avatar.invisible(type="text" name="avatar" value=member_infos.avatar)

                            //div.form-group
                            //    input#child_avatar_file.invisible(type="file" name="child_avatar_file" data-file="avatar" accept="image/*")
                            //    label.avatar(for="child_avatar_file")
                            //        div.preview
                            //            img(src=member_infos.avatar+"" onerror="this.src='/images/assets/account.svg'")
                            //    input#child_avatar.invisible(type="text", name="avatar")
                            
                            hr.separator
                            div.form-group.material_input.minlength
                                input#first_name(type="text" name="first_name" minlength="4" value=member_infos.first_name)
                                label(for="first_name") child_first_name
                            div.form-group.material_input.minlength
                                input#last_name(type="text" name="last_name" minlength="4" value=member_infos.last_name)
                                label(for="last_name") child_last_name
                            div.form-group.material_input
                                input#birth_date(type="date" name="birth_date" value=member_infos.birth_date)
                                label(for="birth_date") birth_date
                            hr.separator
                            div.form_group.radio_list
                                input#child_male(type="radio" name="gender" value="male" required='required', checked=member_infos.gender=="male")
                                label(for='child_male') garçon
                                input#child_female(type="radio" name="gender" value="female", checked=member_infos.gender=="female")
                                label(for='child_female') fille
                            div.form-group.buttons.inline
                                div#submit_member.btn.btn-success(data-action="save" data-memberid=member_infos._id)= lang[locale].keys.save_cta
                                
        div.row#security(style= page === "security" ? "display:block" : "display:none")
            div.col.col-md-7
                div.formular#security_form
                    h1= lang[locale].keys.security_form_password_title
                    form.form_content(method="POST" action='/account/profile')
                        div.form-group.material_input
                            input#change_password_old.form-control(type='password' name='change_password_old' required="required" minlength="8" data-regex="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$" data-errormessage=lang[locale].keys.password_error)
                            label(for='change_password_old')= lang[locale].keys.actual_password_holder
                        div.input_check(data-checkinput="change_password_old")
                            div.check.check_length= lang[locale].keys.input_check_length
                            div.check.check_capital= lang[locale].keys.input_check_capital
                            div.check.check_number= lang[locale].keys.input_check_number
                        div.form-group.material_input
                            input#change_password_new.form-control(type='password' name='change_password_new' required="required" minlength="8" data-regex="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$" data-errormessage=lang[locale].keys.password_error)
                            label(for='change_password_new')= lang[locale].keys.password_new_holder
                        div.input_check(data-checkinput="change_password_new")
                            div.check.check_length= lang[locale].keys.input_check_length
                            div.check.check_capital= lang[locale].keys.input_check_capital
                            div.check.check_number= lang[locale].keys.input_check_number
                        div.form-group.material_input
                            input#retype_change_password_new.form-control(type='password' name='retype_change_password_new' required="required" minlength="8" data-regex="same" data-target="change_password_new" data-errormessage=lang[locale].keys.retype_password_error)
                            label(for='retype_change_password_new') !{lang[locale].keys.retype_password_new_holder}
                        div.btn.btn-m.btn-success(data-action="submit" data-userid=user._id)= lang[locale].keys.change_password_cta
            div.col.col-md-5
                div.formular#devices_list
                    h1= lang[locale].keys.authorized_devices_title
                    p= lang[locale].keys.authorized_devices_message
                    hr.separator
                    ul.option_list
                        //each device in user.devices
                            li
                                div.icon.idkids-icons.icon-desktop.icon-lg
                                div.option_infos
                                    if(typeof device.ua_parser !== "undefined")
                                        div.label= device.ua_parser.os.name+" "+device.ua_parser.browser.name+" "+device.ua_parser.browser.major
                                    div.arch= device.uid
                                    div#delete_device.delete_device.btn.btn-sm.btn-warning(data-device_uid=device.uid) supprimer
                   
                   
        div.row#fidelity(style= page === "fidelity" ? "display:block" : "display:none")
            h1 fidelity
            div.col.col-md-3
                canvas#canvas(width="50" height="50")
            div.col.col-md-9
                p= JSON.stringify(user) 
        
