//-h1 Ma facture
//-p= JSON.stringify(order.datas)

html
  head
    meta(charset="utf-8")
    title JOYVOX, facture
    
    style(type='text/css').
      .invoice-box {
          max-width: 800px;
          margin: auto;
          padding: 30px;
          border: 1px solid #eee;
          box-shadow: 0 0 10px rgba(0, 0, 0, .15);
          font-size: 16px;
          line-height: 24px;
          font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
          color: #555;
      }
      .identity{
        font-size:10px;
        color:#666;
      }
      .invoice-box table {
          width: 100%;
          line-height: inherit;
          text-align: left;
      }
      
      .invoice-box table td {
          padding: 5px;
          vertical-align: top;
      }
      
      .invoice-box table tr td:nth-child(2) {
          text-align: right;
      }
      
      .invoice-box table tr.top table td {
          padding-bottom: 20px;
      }
      
      .invoice-box table tr.top table td.title {
          font-size: 45px;
          line-height: 45px;
          color: #333;
      }
      
      .invoice-box table tr.information table td {
          padding-bottom: 40px;
      }
      
      .invoice-box table tr.heading td {
          background: #eee;
          border-bottom: 1px solid #ddd;
          font-weight: bold;
      }
      
      .invoice-box table tr.details td {
          padding-bottom: 20px;
      }
      
      .invoice-box table tr.item td{
          border-bottom: 1px solid #eee;
      }
      
      .invoice-box table tr.item.last td {
          border-bottom: none;
      }
      
      .invoice-box table tr.total td:nth-child(2) {
          border-top: 2px solid #eee;
          font-weight: bold;
      }
      .refunded {
          color:red;
          font-size : 40px;
      }
      
      @media only screen and (max-width: 600px) {
          .invoice-box table tr.top table td {
              width: 100%;
              display: block;
              text-align: center;
          }
          
          .invoice-box table tr.information table td {
              width: 100%;
              display: block;
              text-align: center;
          }
      }
      
      /** RTL **/
      .rtl {
          direction: rtl;
          font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
      }
      
      .rtl table {
          text-align: right;
      }
      
      .rtl table tr td:nth-child(2) {
          text-align: left;
      }

  body
    div.invoice-box
        table(cellpadding="0" cellspacing="0")
            tr.top
                td(colspan="2")
                    table
                        tr
                            td.title
                                img(src=app.locals.settings.host+"/images/assets/logo_brand.svg" style="width:100%; max-width:300px;")
                            
                            td.
                              Facture N°: !{order.datas.bill_number}<br>
                              !{order.datas.created.toLocaleDateString('fr-FR', { weekday: 'short', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric' })}<br>
                        
            tr.information
                td(colspan="2")
                    table
                        tr
                            td Joyvox<br>162 boulevard de Fourmies<br>59100, ROUBAIX<br><a href="tel:!{app.locals.settings.phone}">!{app.locals.settings.phone}</a><br><a href="mailto:!{app.locals.settings.email}">!{app.locals.settings.email}</a><br>TVA : FR74 529196842
                            
                            if typeof order.datas.address !== "undefined"
                              td.
                                !{order.datas.address.first_name} !{order.datas.address.last_name}<br>
                                !{order.datas.address.cp} !{order.datas.address.city}<br>
                                <a href="mailto:!{user.email}">!{user.email}</a><br>
                                !{user.mobile} !{user.phone}<br>
                            else
                              td.
                                !{user.first_name} !{user.last_name}<br>
                                !{user.pseudo}<br><a href="mailto:!{user.email}">!{user.email}</a><br>
                                
                            //-{JSON.stringify(user)}
            tr.heading
                td Produits
                td Prix
            each product in order.datas.metadata.products
              tr.item
                  td !{product.infos.label} !{product.infos.sub_category} !{product.infos.extra_category}
                  td !{product.infos.price/100} €
            if (typeof order.datas.coupons_code !== "undefined")
              tr.heading
                  td Coupons réduction
                  td Valeur
              each coupon in order.datas.coupons_code
                tr.item
                    td !{coupon.label} <b>code !{coupon.code}</b>
                    td -!{coupon.amount/100} €
            tr.total
                td
                td Total H.T : !{((order.datas.reduced_amount/100)/1.2).toFixed(2)} €
            tr.total
                td
                td T.V.A 20% : !{(((order.datas.reduced_amount/100)/1.2).toFixed(2)*0.2).toFixed(2)} €
            tr.total
                td
                td Total T.T.C : !{order.datas.reduced_amount/100} €
        br
        table
            tr.details.item
              td 
                b Montant réglé
              td 
                b !{order.datas.reduced_amount/100} €
            tr.details.item
              td 
                b Total restant dû
              td 
                b 0.00 €
            tr.details.item
              - var options = { weekday: 'short', year: 'numeric', month: 'long', day: 'numeric' };
              td 
                b Date de paiement
              td 
                b !{new Date(order.datas.created).toLocaleDateString('fr-FR', options)}
        table
            tr.heading
                td mode de paiement
                td Carte bancaire
                
            tr.details
                td !{order.datas.response.source.object} !{order.datas.response.source.brand}
                td 4 derniers numéros ...!{order.datas.response.source.last4}
            
            tr.heading
                td Statut du réglement
                td Vérification
                    
            tr.details
                td= (order.datas.response.paid)? "PAYÉ" : "NON-PAYÉ"
                     
                td= (order.datas.response.status === "succeeded")? "VÉRIFIÉ" : "NON-VÉRIFIÉ"
      
        if typeof order.datas.refund !== "undefined"
          if order.datas.refund.status === "succeeded" || order.datas.refund.code === "charge_already_refunded"
            p.refunded REMBOURSÉ
        //-p.identity identifiant de la facture !{order.datas._id}
                
