block navigation
    nav.hor_nav
        ul
            a(href="/wish_list" data-navigate="page_reload")
                li(class= page === "wish_list" ? "selected" : "" data-for="wish_list")= "Liste de naissance"
            a(href="/gift_cards" data-navigate="page_reload")
                li(class= page === "gift_cards" ? "selected" : "" data-for="gift_cards")= "Cartes cadeaux"
            a(href="/fidelity-card" data-navigate="page_reload")
                li(class= page === "fidelity-card" ? "selected" : "" data-for="fidelity-card")= "Carte de fidélité"
            a(href="/services" data-navigate="page_reload")
                li(class= page === "services" ? "selected" : "" data-for="services")= "Services"
            a(href="/customer_account" data-navigate="page_reload")
                li(class= page === "customer_account" ? "selected" : "" data-for="outlet")= "Compte client"