extends header

block content
  if typeof order_datas !== "undefined"
    if(order_datas.response.paid && order_datas.response.status === "succeeded")
      div.main.container.with_head
        div.row
          div.col.col-md-7.centered
            div.formular
              h1 Paiement effectué
              p Nous avons bien reçu votre paiement, d'un montant de <b>#{(order_datas.reduced_amount/100)} €</b><br/>Rendez-vous sur <a href="/account/orders", target="_self">votre compte</a>. pour télécharger vos achats
              p Methode de paiement : #{order_datas.response.source.brand} ....#{order_datas.response.source.last4} exprire le : #{order_datas.response.source.exp_month} #{order_datas.response.source.exp_year}
              div.form-control
                a.btn.btn-success.centered(href="/account/orders") Voir mes achats
              p Téléchargez votre facture en cliquant <a href="/account/orders"+order_datas._id, target="_self">ici</a>
    else
      div.main.container.with_head
        div.row
          div.col.col-md-7.centered
            div.formular
              h1 Echec du Paiement
              p une erreur s'est produite lors du règlement de votre commande et votre carte n'a pas été débitée.<br/>Rendez-vous sur votre compte pour vérifier l'état de votre commande.
              div.form-control
                a.btn.btn-success(href="/account/basket", target="_self") Voir mon panier
                a.btn.btn-warning(href="/account/orders", target="_self") Voir mes achats
              p Merci de renouveler l'opération ultérieurement, Si le problème persiste veuillez contacter nos administrateurs
    
  else
    div.main.container.with_head
      div.row
        div.col.col-md-7
          div.formular.centered
            h1 Une erreur est survenue.
            p une erreur s'est produite lors du règlement de votre commande et votre carte n'a pas été débitée.<br/>Rendez-vous sur votre compte pour vérifier l'état de votre commande.
            div.form-control
              a.btn.btn-success(href="/account/basket", target="_self") Voir mon panier
              a.btn.btn-warning(href="/account/orders", target="_self") Voir mes achats
            p Merci de renouveler l'opération ultérieurement, Si le problème persiste veuillez contacter nos administrateurs
  
            
